
.md-button.md-fab.md-mini {
  line-height: inherit;
}
.local-hue-1 {
  background-color: #5C6BC0 !important;
  color: #eee !important;
}
.local-hue-2-background {
  background-color: #00695c !important;
}
.margin-override {
  margin: 0;
}

.md-button.md-primary {
  background: #f0f3fa;
}

.view-container {
  max-width: 2000px;
}

.grey-label {
  color: #6A78C1;
}

.chips  .md-chip {
  position: relative;
  padding-right: 55px;
  font-size: 0.8rem;}
.chips .md-chips .md-chip .md-chip-content {
  padding-right: 10px;
}
.chips .md-chip .md-chip-remove-container {
  position: absolute;
  right: 6px;
  top: 6px;
  margin-right: 0;
  margin-left: 20px;
  height: 20px; }
.chips .md-chip .md-chip-remove-container button.taggerchip {
  position: relative;
  height: 20px;
  width: 20px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: block; }
.chips  .md-chip .md-chip-remove-container button.taggerchip md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  color: white;
  fill: white; }
.chips  .md-chip .md-chip-remove-container button.taggerchip:hover, .chips  .md-chip .md-chip-remove-container button.taggerchip:focus {
  background: rgba(255, 0, 0, 0.8); }

