<div class="level-container" ng-controller="SingleCollectionCtrl">
  <div class="row">
   <ng-include src="'commons/partials/global-sidebar'"></ng-include>

    <div class="main-column small-12 large-9  columns">
      <ul class="breadcrumbs clearfix">
        <li>
          <a href="/commons" title="Academic Commons">
            <span class="home"><i class="fa fa-home"></i></span>
            Academic Commons
          </a>
        </li>
        <li>
          <a href="#" title="Northwest Collection">
            Northwest Collection
          </a>
        </li>
      </ul>
      <div class="row">
        <div class="small-12 column ac-opaque">
          <div class="panel">
            <div class="row">
              <div class="small-12 column">
                <h3>{{collection.collection.title }}</h3>
              </div>
              <div class="small-12 column">
                <div class="th pull-left" style="margin-right: 20px"><img src="resources/img/thumb/{{collection.collection.image}}"></div>
                <p>{{collection.collection.description}}</p>
              </div>
            </div>
            <div class="row ac-iteminfo">
              <div class="small-7  column">
                <ul>
                  <li ng-if="collection.collection.dates.length > 0">
                    <span class="ac-label">Dates: </span> {{collection.collection.dates}}
                  </li>
                  </li>
                  <li ng-if="collection.collection.items.length > 0">
                    <span class="ac-label">Item count: </span> {{collection.collection.items}}
                  </li>
                </ul>
              </div>
              <div class="small-5 column">
                <ul>
                  <li>
                    <span class="ac-label">Content Types:
                    <span ng-repeat="type in collection.contentTypes">
                      <i ng-if="type.ItemContentId==1" class="fa fa-picture-o"></i>
                      <i ng-if="type.ItemContentId==2" class="fa fa-file-text-o"></i>
                      &nbsp;&nbsp;
                    </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row ac-box">
              <div class="small-12  container column">
                <div class="row">
                  <div class="small-12 column">
                    <img src="images/site/academiccommons_site.png">
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-4 large-5 column text-right">
                    <form name="simpleForm" method="get" class="ng-pristine ng-valid">
                      <div class="large-10 medium-10 small-10 left">
                        <input name="query" type="text" placeholder="Search Northwest collection">
                      </div>
                      <div class="large-2 medium-2 small-2 left end">
                        <a href="#" class="postfix radius"><i class="fa fa-search"></i></a>
                      </div>
                    </form>
                  </div>
                  <div class="small-12 medium-4 large-4 column" >
                    <a href="{{collection.collection.url}}" class="button">Go to Collection</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="row ac-moreabout">
              <div class="small-12 column">
                <h4>More about this collection</h4>
                <p>{{collection.category.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-include src="'commons/partials/mobile-nav'"></ng-include>
</div>
</div>
