<div class="level-container">
  <div class="row">
    <div class="sidebar small-12 large-3  ac-opaque columns">
      <nav class="left-nav">
        <ul>
          <li class="child active">
            <a href="#" title="Academic Commons">Academic Commons</a>
          </li>
          <li class="child">
            <a href="/" title="home">About the Commons</a>
          </li>
          <li class="child">
            <a href="#" title="archives">Starting a Collection</a>
          </li>
          <li class="child ">
            <a href="/about/staff" title="staff">Submitting a Thesis</a>
          </li>
          <li class="child ">
            <a href="#" title="testlink">File Formats</a>
          </li>
          <li class="child">
            <a href="about/">Intellectual Property</a>
          </li>
          <li class="child">
            <a href="about/">Data Management</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="main-column small-12 large-9  columns">
      <ul class="breadcrumbs clearfix">
        <li>
          <a href="/commons" title="Academic Commons">
            <span class="home"><i class="fa fa-home"></i></span>
            Academic Commons
          </a>
        </li>
        <li>
          <a href="#" title="Northwest Collection">
            Northwest Collection
          </a>
        </li>
      </ul>
      <div class="row">
        <div class="small-12 column ac-opaque">
          <div class="panel">
            <div class="row">
              <div class="small-12 column">
                <h3>Northwest Collection</h3>
              </div>
              <div class="small-12 column">
                <div class="th pull-left" style="margin-right: 20px"><img src="img/collections/HillsideinSpring.png"></div>
                <p>This digital collection contains selected works from the Hallie Ford Museum of Art's Northwest Collection. The museum’s largest collecting
                  focus is on art created in the American Northwest (Oregon, Washington, Idaho, and Montana), with an emphasis on
                  the Pacific Northwest. The Northwest Collection traces the history of modern and contemporary art in the region and includes works by Oregon modernists
                  C.S. Price, Charles Heaney, Amanda Snyder, Carl Hall, and Jan Zach. Contemporary artists include Fay Jones, Michael Spafford, Michael Dailey, Gaylen Hansen,
                  and Dan Webb of Washington, and Oregon artists Frank Boyden, Michael Brophy, George Johanson, Lucinda Parker, and Mel Katz, among others. This collection also
                  includes work by contemporary Native American artists from the Pacific Northwest, including work by Rick Bartow, Joe Feddesen, James Lavadour, Marie Watt, and
                  Lillian Pitt, among others.</p>
              </div>
            </div>
            <div class="row" style="width: 100%; border-top: 1px solid rgba(160,160,160,0.2);padding-top: 16px;">

              <div class="small-12 column text-right" >
                <img src="images/site/academiccommons_lg.png">
              </div>
            </div>
            <div class="row">
              <div class="small-4 column" >
                <a href="http://libmedia.willamette.edu/cview/hfma.html#!search:facet:hfmanw/collec%5ENorthwest+Art+Collection%5Eexact%5Eand!" class="button">Browse Collection</a>
              </div>
              <div class="small-8 column text-right">
              <form name="simpleForm" method="get" class="ng-pristine ng-valid" style="margin: 0.75em 0.25em 0.75em 0;">
                <div class="large-10 medium-10 small-10 left">
                  <input name="query" type="text" style="margin:0;" placeholder="Search Northwest collection">
                </div>
                <div class="large-1 medium-1 small-2 left end">
                  <a href="#" class="postfix radius" style="background-color:#3F787C;border: none; color: #fff;"><i class="fa fa-search"></i></a>
                </div>
              </form>
              </div>
            </div>
            <div class="row" style="margin-top: 20px;">
              <div class="small-7 column">

              </div>
              <div class="small-5 column">
                <ul>
                  <li style="padding: 4px;">
                    <span style="font-weight: 700">Content Types: </span><i class="fa fa-file-text-o"></i>
                  </li>
                  <li style="padding: 4px;">
                    <span style="font-weight: 700">Dates: </span>1940-2000
                  </li>
                  </li>
                  <li style="padding: 4px;">
                    <span style="font-weight: 700">Item count: </span>230
                  </li>
                </ul>
              </div>
            </div>
            <div class="row" style="width: 100%; margin-top: 20px; border-top: 1px solid rgba(160,160,160,0.2);padding-top: 16px;">
              <div class="small-12 column">
                <p>This digital collection contains selected works from the museum's Northwest Collection.  Visit the <a href="#">Hallie Ford Museum's Northwest Collection</a> page for more information about artists and museum holdings.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="off-canvas-nav right-off-canvas-menu" >

    <form action="#" method="get" name="global-search" class="global-search">
      <input name="keywords" type="search" autocomplete="off" placeholder="Search" class="keywords">
      <span class="fa fa-search"></span>
    </form>



    <nav class="main-nav-small">
      <ul>

        <li>
          <a href="javascript:" title="Academics" class="main-nav-small-link">
            Academics
          </a>
        </li>

        <li>
          <a href="javascript:" title="Admission" class="main-nav-small-link">
            Admission
          </a>
        </li>

        <li>
          <a href="javascript:" title="Campus Life" class="main-nav-small-link">
            Campus Life
          </a>
        </li>

        <li>
          <a href="javascript:" title="Why Willamette" class="main-nav-small-link">
            Why Willamette
          </a>
        </li>

        <li>
          <a href="javascript:" title="Athletics" class="main-nav-small-link">
            Athletics
          </a>
        </li>

        <li>
          <a href="javascript:" title="Arts" class="main-nav-small-link">
            Arts
          </a>
        </li>

        <li>
          <a href="javascript:" title="Give" class="main-nav-small-link">
            Library test
          </a>
        </li>

      </ul>
    </nav>



    <nav class="secondary-nav-small">
      <ul>

        <li>
          <a href="javascript:" title="Students" class="secondary-nav-small-link">
            Students
          </a>
        </li>

        <li>
          <a href="javascript:" title="Faculty &amp; Staff" class="secondary-nav-small-link">
            Faculty &amp; Staff
          </a>
        </li>

        <li>
          <a href="javascript:" title="Parents" class="secondary-nav-small-link">
            Parents
          </a>
        </li>

        <li>
          <a href="javascript:" title="Alumni" class="secondary-nav-small-link">
            Alumni
          </a>
        </li>

        <li>
          <a href="javascript:" title="Community" class="secondary-nav-small-link">
            Community
          </a>
        </li>

      </ul>
    </nav>
  </div>
</div>
</div>
