<div class="level-container" ng-controller="FilterCollectionsCtrl">
  <div class="row">
    <ng-include src="'commons/partials/global-sidebar'"></ng-include>
              {{allCollections}}
    <div class="main-column small-12 large-9  columns" style="min-height: 800px;">
      <ul class="breadcrumbs clearfix">
        <li>
          <a href="/commons" title="Academic Commons">
            <span class="home"><i class="fa fa-home"></i></span>
            Academic Commons
          </a>
        </li>
        <li>
          <a href="#" title="All Collections">
           All COllections
          </a>
        </li>
      </ul>
      <div class="row animate-show" ng-show="allCollections.length > 0">
        <div class="small-12 column ac-opaque">
          <div class="panel">
                 <ul>
                   <li ng-repeat="collection in allCollections">
                     {{collection.title}}
                   </li>
                 </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-include src="'commons/partials/mobile-nav'"></ng-include>
</div>

