<div class="level-container" ng-controller="FilterCollectionsCtrl">
  <div class="row">

    <ng-include src="'/partials/global-sidebar'"></ng-include>

    <div class="main-column small-12 large-9  columns" style="min-height: 800px;">
      <ul class="breadcrumbs clearfix">
        <li>
          <a href="/commons" title="Academic Commons">
            <span class="home"><i class="fa fa-home"></i></span>
            Academic Commons
          </a>
        </li>
        <li>
          <a href="#" title="Everything">
            Everything
          </a>
        </li>
      </ul>
      <div class="row animate-show" ng-show="allCollections.length > 0">
        <div class="small-12 column ac-opaque">
          <div class="panel">
            <h3>Collection Search</h3>
            <form>
              <div class="row">
              <div class="small-8 end columns">
                <input type="text" placeholder="Begin typing the name" ng-model="search">
                </div>
              </div>
              <div class="row">
                <div class="columns small-12 ac-animate">
                  <ul>
                    <li ng-animate="'animate'" ng-repeat="collection in allCollections | filter:{title:search}">
                      <h6><a href="commons/collec/{{collection.id}}">{{collection.title}}</a></h6>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-include src="'/partials/mobile-nav'"></ng-include>
</div>

