
<footer id="footer" class="footer">

  <div class="row">
    <nav class="footer-cta-nav" data-partial="footer-cta-nav">
      <ul>
        <li>
          <a href="http://www.willamette.edu/admission/visit/index.html" title="Plan A Visit" class="">
					<span class="text">
						<span class="title">Plan A Visit</span>
					</span>
          </a>
        </li>
        <li>
          <a href="http://www.willamette.edu/admission/request-info/index.html" title="Request Info" class="">
					<span class="text">
						<span class="title">Request Info</span>
					</span>
          </a>
        </li>
        <li>
          <a href="http://www.willamette.edu/admission/apply-now/index.html" title="Apply Now" class="">
					<span class="text">
						<span class="title">Apply Now</span>
					</span>
          </a>
        </li>
      </ul>
    </nav>
    <nav class="footer-main-nav">
      <ul>
        <li>
          <a href="http://willamette.edu/about/index.html" title="About">About</a>
        </li>
        <li>
          <a href="http://willamette.edu/news/index.html" title="News">News</a>
        </li>
        <li>
          <a href="https://cal.willamette.edu/calendar/EventList.aspx?fromdate=7/22/2015&todate=8/4/2015&view=Summary" title="Events">Events</a>
        </li>
        <li>
          <a href="http://willamette.edu/about/visit/index.html" title="Maps &amp; Directions">Maps &amp; Directions</a>
        </li>
        <li>
          <a href="http://willamette.edu/search/a-z/index.html" title="A–Z Index">A–Z Index</a>
        </li>
        <li>
          <a href="http://willamette.edu/about/federal-compliance/index.html" title="Compliance">Compliance</a>
        </li>
        <li>
          <a href="http://willamette.edu/offices/policies/tech/web_privacy_policy/index.html" title="Privacy">Privacy</a>
        </li>
      </ul>
    </nav>

    <div class="footer-contact">
      <ul class="clearfix">
        <li class="copyright-line-1">&copy; 2014 Willamette University</li>
        <li class="copyright-line-2">900 State Street, Salem, Oregon 97301</li>
        <li class="phone"><a href='tel:+15033706300' class='phone-mobile'>(503) 370-6300</a><span class='phone-desktop'>(503) 370-6300</span></li>
        <li class="email"><a href='mailto:ask@willamette.edu'>ask@willamette.edu</a></li>
      </ul>
    </div>

    <div class="social-media-icons">
      <ul class="clearfix">
        <li>
          <a href="https://www.facebook.com/Willamette" title="Facebook" class="icon-facebook">
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/willamette_u" title="Twitter" class="icon-twitter">
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/user2745165" title="Vimeo" class="icon-vimeo">
            <span>Vimeo</span>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/willamette_u" title="Instagram" class="icon-instagram">
            <span>Instagram</span>
          </a>
        </li>
        <!-- <li>
                    <a href="#" title="Google Plus" class="icon-googleplus">
                        <span>Google Plus</span>
                    </a>
                </li>-->
        <li>
          <a href="https://www.linkedin.com/edu/school?id=19215" title="LinkedIn" class="icon-linkedin">
            <span>LinkedIn</span>
          </a>
        </li>
        <!-- <li>
                    <a href="#" title="Tumblr" class="icon-tumblr">
                        <span>Tumblr</span>
                    </a>
                </li>-->
      </ul>
    </div>
  </div>
</footer>
