<div class="sidebar small-12 large-3 hide-for-medium-down ac-opaque columns">
  <nav class="left-nav">
    <ul>
      <li class="child active">
        <a href="#" title="Academic Commons">Academic Commons</a>
      </li>
      <li class="child">
        <a href="/" title="home">About the Commons</a>
      </li>
      <li class="child">
        <a href="#" title="archives">Starting a Collection</a>
      </li>
      <li class="child ">
        <a href="/about/staff" title="staff">Submitting a Thesis</a>
      </li>
      <li class="child ">
        <a href="#" title="testlink">File Formats</a>
      </li>
      <li class="child">
        <a href="about/">Intellectual Property</a>
      </li>
      <li class="child">
        <a href="about/">Data Management</a>
      </li>
    </ul>
  </nav>
</div>
