<div class="row collapse">
  <div class="large-8 medium-8 columns">
    <img src="/images/GreenHills.jpg">
  </div>
  <div class="large-4 medium-4 columns clear-panel" style="padding-top:0;padding-bottom:0;margin-bottom:0;margin-top:0;border:1px solid #fff;">
    <ul class="acom-side-nav">
      <li><a href="/commons/home" style="padding:0;padding-left: 13px;padding-top: 3px;padding-bottom:4px;background:#fff;line-height: 1em;"><img src="/images/academiccommons_lg.png"></a></li>
      <li><a href="/commons/archives"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;University Archives Collections</a></li>
      <li><a href="/commons/hfma"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Hallie Ford Museum Collections</a></li>
      <li><a href="/commons/community"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;WU Community Collections</a></li>
    </ul>
  </div>
</div>

<div class="row collapse" >
  <div class="large-8 medium-8 small-12 columns" style="" >
    <div style="padding: 15px;">
      <h2>Academic Commons</h2>
      <p>The Willamette University Academic Commons contains online collections from the <a href="http://library.willamette.edu/archives/">Willamette University Archives</a> and the <a href="http://www.willamette.edu/arts/hfma/index.html">Hallie Ford Museum of Art</a> in addition to other digital collections supported by the Hatfield Library.   </p>
      <p>The Willamette University <a href="http://libmedia.willamette.edu/commons/community">Community Collections</a> are home to undergraduate theses, student grants and awards documents, faculty business records, data sets and other collections.</p>
    </div>
  </div>
  <div class="small-12 medium-4 large-4 columns panel" style="height:240px;padding: 15px;margin-top: 13px;" >
    <h4>Quick Search</h4>
    <div class="row collapse" >
      <form style="margin-top: 10px;" ng-controller="AcomHomeSearchCtrl" ng-submit="submitQuery(query)">
        <div class="small-12">
          <div class="row collapse">
            <label>Look in
              <select ng-model="selectedCollection" ng-options="collection.label for collection in collections">
              </select>
            </label>
          </div>
        </div>
        <div class="row collapse" >
          <div class="large-10  medium-10 small-8 columns">
            <input type="text" ng-model="query.terms" placeholder="Search terms" ng-keyup="$event.keyCode == 13 && submitQuery(query)" />
          </div>
          <div class="large-2 medium-2 small-2 columns">
            <button type="submit" class="postfix button expand radius"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 column">
    <div class="white-panel">
      <div class="row">
        <div class="small-4 columns"><a href="/commons/info/about" >About the Commons</a></div>
        <div class="small-4 columns"><a href="/commons/info/student" >Submitting a Thesis</a></div>
        <div class="small-4 columns"><a href="/commons/info/copyright" >Intellectual Property</a></div>
      </div>
      <div class="row">
        <div class="small-4 columns"><a href="/commons/info/create">Starting a Collection</a></div>
        <div class="small-4 columns"><a href="/commons/info/recommendedformat">Recommended File Formats</a></div>
        <div class="small-4 columns"><a href="/commons/grants/institution">Data Management Resources</a></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 column">
    <div class="panel" style="padding-left: 2px;margin-top: 40px;">
      <div class="row">
        <div class="small-12 columns">
          <h3>Regional History</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-8 large-8 columns">
          <p>Founded in 1842, Willamette University played an important role in the history of the Oregon Territory and the State of Oregon. </p>
          <p>Much of this regional history is documented in the collections of the Willamette University Archives and the Hallie Ford Museum of Art. Important collections include the <em><a href="http://libmedia.willamette.edu/commons/collections/4#top">Pacific Northwest Artists Archive</a></em>, the <em><a href="http://libmedia.willamette.edu/commons/collections/5#top">Congressional and Political Papers</a></em>,
            and the <em><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Northwest+Art+Collection^exact!">Northwest</a></em> and the <em><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Native+American+Collection^exact!">Native American</a></em> Art Collections. Other collections document events and daily life.</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <img class="th" src="/images/Barkbasket.jpg" >
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="row">
          <div class="small-12 columns">
            <h3>Willamette University</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-8 large-8 columns">
          <p>The story of Willamette University is embodied by generations of faculty, staff and especially students.  </p>
          <p>You can explore this rich history in University Archives collections.  These include the <em><a href="http://libmedia.willamette.edu/commons/collections/8#top">Willamette Collegian</a></em> newspaper (1875-present) and the <em>Wallulah</em> yearbook (1903-1998). Campus photographs and postcard collections document campus life and the physical environment from 1869 to the present.  Willamette's <a href="http://libmedia.willamette.edu/cview/archives.html#!search:search:glee/all^glee^all^and!">Freshman Glee</a> tradition is recorded in sound, images and documents from Glee's 75-year history.</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <img class="th" src="/images/Glee1968.jpg">
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="row">
          <div class="small-12 columns">
            <h3>Beyond Willamette and Region</h3>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-8 large-8 columns">
            <p>Over the decades, Willamette University friends and alumni have been governors, legislators, artists, teachers, soldiers and peacemakers. </p>
            <p>Papers, diaries, letters and photographs in University Archives Collections document a foreign correspondent in Europe, a soldier's experience in the American Civil War, artists whose interests and influence reached beyond the region, and leaders who crafted national legislation as documented in the <em><a href="http://libmedia.willamette.edu/commons/collections/5#top">Congressional and Political Papers</a></em>. Images from the Hallie Ford Museum of Art digital collections span continents and centuries of art history.</p>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <img class="th" src="/images/MarkHatfield.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
