<div class="level-container">
  <div class="row">
    <div class="sidebar small-12 medium-3 large-3  ac-opaque hide-for-small-down columns">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Collection Areas</h5></li>
        <li class="collection-item"><a href="#">Student Research</a></li>
        <li class="collection-item"><a href="#">Faculty Research</a></li>
        <li class="collection-item"><a href="#">University Archives</a></li>
        <li class="collection-item active"><a href="#">Museum of Art</a></li>
        <li class="collection-item"><a href="#">Library</a></li>
        <li class="collection-item"><a href="#">Other Departments</a></li>
        <li class="collection-header hide-for-small-down">
          <h5>Subject Tags</h5>
        </li>
        <li class="collection-item lowercase hide-for-small-down">
          <p><a href="#">asian art</a> <a href="#">photographs</a> <a href="#" class="selected">northwest art </a> <a href="#">america art</a>
            <a href="#">Acient Art</a> <a href="#">Greek & Roman Coins</a> <a href="#">Native American Art</a> <a href="#">european art</a>
            <a href="#">Crow's Shadow Institute</a>
        </li>
      </ul>
      <nav class="left-nav hide-for-small-down">
        <ul>
          <li class="child">
            <a href="/" title="home">About the Commons</a>
          </li>
          <li class="child">
            <a href="#" title="archives">Starting a Collection</a>
          </li>
          <li class="child ">
            <a href="/about/staff" title="staff">Submitting a Thesis</a>
          </li>
          <li class="child ">
            <a href="#" title="testlink">File Formats</a>
          </li>
          <li class="child">
            <a href="about/">Intellectual Property</a>
          </li>
          <li class="child">
            <a href="about/">Data Management</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-column small-12 medium-9 large-9  columns">
      <div class="row">
        <div class="small-12 column ac-opaque">
          <div class="panel">
            <div class="row">
              <div class="small-12 medium-6 large-6 column">
                <h2>Museum of Art</h2>
              </div>
              <div class="small-12 medium-6 large-6 column hide-for-small-down  tag-box text-right">
                <ul>
                  <li>
                    <span style="display: inline-block;font-size: 0.84rem;margin-right: 25px;">Using subject tag:</span>
                  </li>
                  <li>
                    <a href="#" class="button round tiny">Northwest Art &nbsp;<i class="fa fa-times"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div style="width: 100%; border-top: 1px solid rgba(160,160,160,0.2);padding-top: 16px;padding-left: 15px;">

              <div class="row">
                <p>Digital collections and exhibits from the <a href="#">Hallie Ford Museum of Art</a>.</p>
                <form name="simpleForm" method="get">
                  <div class="large-5 medium-5 small-6 left">
                    <input name="query" type="text"  style="margin:0;" placeholder="Search all museum collections">
                  </div>
                  <div class="large-1 medium-1 small-2 left end">
                    <a href="#" class="postfix radius" style="background-color:#3faab2;border: none; color: #fff;"><i class="fa fa-search"></i></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns" style="min-height: 900px;">
          <div class="row">
            <div class="small-12 columns hide-for-small-down text-right" style="color: #999;">
              <i class="fa fa-th"></i>
              <i class="fa fa-align-justify"></i>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 columns">
              <div class="card">
                <div class="card-content">
                  <a href="commons/collec">
                    <h4>Art & Costume Images Collection</h4>
                    <p>Images purchased or scanned for academic use by Willamette University students and faculty. Login is required to use this collection.</p>
                  </a>
                </div>
                <div class="card-action">
                  <a href="#">View Collection <i class="fa fa-lock"></i></a>
                </div>
              </div>
            </div>
            <div class="small-12 medium-4 columns">
              <div class="card ">
                <div class="card-content">
                  <a href="commons/collec">
                    <h4>Northwest Collection</h4>
                    <p>This digital collection contains selected works from the Hallie Ford Museum of Art's Northwest Collection.The museum’s largest collecting focus is on art created in the American Northwest (Oregon, Washington, Idaho, and Montana), with an emphasis on the Pacific Northwest.</p>
                  </a>
                </div>
                <div class="card-action">
                  <a href="commons/collec">View Collection</a>
                </div>

            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="card ">
              <div class="card-content blue-grey-text">
                <h4>Hallie Ford Museum Research Database</h4>
                <p>The museum makes the contents of it's comprehensive collection inventory available to Willamette University researchers.  Access to this collection requires a login.</p>
              </div>
              <div class="card-action">
                <a href="#">View Collection <i class="fa fa-lock"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <ul class="pagination">
      <li class="arrow unavailable"><a href="">&laquo;</a></li>
      <li class="current"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li class="unavailable"><a href="">&hellip;</a></li>
      <li><a href="">12</a></li>
      <li><a href="">13</a></li>
      <li class="arrow"><a href="">&raquo;</a></li>
    </ul>
  </div>
  <ng-include src="'commons/partials/mobile-nav'"
</div>
</div>
