<div class="off-canvas-nav right-off-canvas-menu" >

  <form action="#" method="get" name="global-search" class="global-search">
    <input name="keywords" type="search" autocomplete="off" placeholder="Search" class="keywords">
    <span class="fa fa-search"></span>
  </form>



  <nav class="main-nav-small">
    <ul>

      <li>
        <a href="javascript:" title="Academics" class="main-nav-small-link">
          Student Research
        </a>
      </li>

      <li>
        <a href="javascript:" title="Admission" class="main-nav-small-link">
          Faculty Research
        </a>
      </li>

      <li>
        <a href="javascript:" title="Campus Life" class="main-nav-small-link">
          University Archives
        </a>
      </li>

      <li>
        <a href="javascript:" title="Why Willamette" class="main-nav-small-link">
          Museum of Art
        </a>
      </li>

      <li>
        <a href="javascript:" title="Athletics" class="main-nav-small-link">
          Other Departments
        </a>
      </li>

      <li>
        <a href="javascript:" title="Arts" class="main-nav-small-link">
          About the Commons
        </a>
      </li>

    </ul>
  </nav>



  <nav class="secondary-nav-small">
    <ul>

      <li>
        <a href="javascript:" title="Students" class="secondary-nav-small-link">
          Students
        </a>
      </li>

      <li>
        <a href="javascript:" title="Faculty &amp; Staff" class="secondary-nav-small-link">
          Faculty &amp; Staff
        </a>
      </li>

      <li>
        <a href="javascript:" title="Parents" class="secondary-nav-small-link">
          Parents
        </a>
      </li>

      <li>
        <a href="javascript:" title="Alumni" class="secondary-nav-small-link">
          Alumni
        </a>
      </li>

      <li>
        <a href="javascript:" title="Community" class="secondary-nav-small-link">
          Community
        </a>
      </li>

    </ul>
  </nav>
</div>
