

<div class="off-canvas-nav right-off-canvas-menu">


  <nav class="main-nav-small">

    <ul>
      <li>
        <a href="http://libmedia.willamette.edu/commons/info/about" title="Library Home" class="main-nav-small-link">
          About the Commons
        </a>
      </li>
      <li>
        <a href="http://libmedia.willamette.edu/commons" title="Willamette Home" class="main-nav-small-link">
          Collection Areas
        </a>
      </li>

      <li>
        <a href="http://libmedia.willamette.edu/commons/info/dpl" title="Library Home" class="main-nav-small-link">
          Production Lab
        </a>
      </li>
      <li>
        <a href="http://libmedia.willamette.edu/commons/info/staff" title="Library Home" class="main-nav-small-link">
          Staff
        </a>
      </li>
      <li>
        <a href="http://libmedia.willamette.edu/commons/info/collection" title="Library Home" class="main-nav-small-link">
          Collection Policy
        </a>
      </li>
      <li>
        <a href="http://libmedia.willamette.edu/commons/info/tech" title="Library Home" class="main-nav-small-link">
          Technical Information
        </a>
      </li>


      <h6 style="color:#fff;">Library Links</h6>
      <li>
        <a href="http://library.willamette.edu" title="Library Home" class="main-nav-small-link">
          Hatfield Library
        </a>
      </li>
      <li>
        <a href="http://library.willamette.edu/archives" title="Archives" class="main-nav-small-link">
          University Archives
        </a>
      </li>

      <li>
        <a href="http://www.willamette.edu" title="Willamette Home" class="main-nav-small-link">
          Willamette Home
        </a>
      </li>
    </ul>
  </nav>



</div>


