<div class="level-container">
  <div class="row ac-animate">
    <ng-include src="'commons/partials/start-sidebar'"></ng-include>

    <div class="user-markup small-12 large-9  columns" style="min-height: 800px;">
      <ul class="breadcrumbs clearfix">
        <li>
          <a href="/commons" title="Academic Commons">
            <span class="home"><i class="fa fa-home"></i></span>
            Academic Commons
          </a>
        </li>
        <li>
          <a href="#" title="Start a Collection">
            Start
          </a>
        </li>
      </ul>
      <h1>Starting a Collection</h1>
      <p>Collections may be requested by any unit of Willamette University that: </p>
      <ul>
        <li>produces scholarly content</li>
        <li>has a defined leader</li>
        <li>has long-term stability</li>
        <li>and can assume responsibility for setting community policies</li>
      </ul>
      <p> The unit must assign a collection coordinator to work with Academic Commons staff. </p>
      <p>The <a href="contact.html">Academic Commons Coordinator</a> will meet with the department or its assigned collection coordinator to define: </p>
      <ul>
        <li>The purpose of the collection </li>
        <li>Collection information: name, description, logo </li>
        <li>Names and email addresses of submitters </li>
        <li>Names and email addresses of people in workflow roles </li>
        <li>The intended audience </li>
        <li>Intellectual property ownership </li>
        <li>The types of materials or publications (published or unpublished articles, images, datasets) </li>
        <li>File formats (PDF, JPEG, TIFF) </li>
        <li>Disk space requirements </li>
      </ul>
      <p>Once an initial review is completed, the Academic Commons Coordinator, a liaison librarian, or other staff will then work with the department to create a collection that meets its requirements. If the Academic Commons is not the appropriate location for the material, staff will attempt to recommend an alternate solution. </p>
    </div>
  </div>


</div>
