node_modules
resources/images/full
resources/images/thumb
app/bower_components/
app/public/modules/acom/app/css/main.css
app/public/modules/acom/app/css/main.css.map
app/public/modules/acom/app/css/level.css
app/public/modules/acom/app/css/level.css.map
app/public/stylesheets/app.css
app/public/modules/acom/dist
.tmp
.sass-cache
.idea/workspace.xml                    g
.idea/misc.xml
