node_modules
resources/images/full
resources/images/thumb
public/modules/acom/app/bower_components/
public/modules/acom/app/css/app.css
public/stylesheets/app.css
public/modules/acom/dist/**
.tmp
.sass-cache
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
