<div class="row">
    <div class="small-12 columns">
        <h3 style="padding-bottom: 15px;">{{name}}</h3>
    </div>
    <div class="small-4 columns text-right">
    </div>
</div>
<div class="row">
    <div class="small-12  columns">
        <p class="">{{description }}</p>

        <div class="row collapse">
            <div class="small-10 medium-10 large-10 columns">
                <i class="fi-magnifying-glass"></i>
                <input type="text" placeholder="Search {{name}}">
            </div>
            <div class="small-2 medium-1 large-1 columns end">
                <search-form-simple name="{{name}}" axn="{{url}}"></search-form-simple>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-4 large-8 columns">
                <o><span class="line-label">Dates</span> {{dates}}</o>
                <p><span class="line-label">Item count</span> {{items}}</p>
            </div>
            <div class="small-12 medium-8 large-12 columns right">
                <ul class="inline-list" >

                    <li ng-repeat='ctype in ctypes' ng-switch on="ctype.itemContent.name">
                        <a ng-switch-when="PDF" style="font-size: 1.8em;"><i class="fa fa-file-pdf-o"></i></a>
                        <a ng-switch-when="Video" style="font-size: 1.8em;"><i class="fa fa-film"></i></a>
                        <a ng-switch-when="Image" style="font-size: 1.8em;"><i class="fa fa-picture-o"></i></a>
                        <a ng-switch-when="Transcript" style="font-size: 1.8em;"><i class="fa fa-file-text-o"></i></a>
                        <a ng-switch-when="Document" style="font-size: 1.8em;"><i class="fa fa-file-o"></i></a>

                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="small-12 column">
        <h4><small>Tags</small></h4>
        <div ng-transclude=""></div>
    </div>
</div>


</div>