@import "../helpers/_mixins";

.two-column {

	@include bp(medium-up) {

		article {
			.callout-image {
				width: 60%;
				float: left;
			}
			.callout-content {
				width: 40%;
				float: left;
			}
		}

	}

}
