.card-content {

  p {
    max-height: 180px;
    color: $wu-card-text !important;
  }

  a {
    color:  $wu-card-text !important;
    text-decoration: none;
    text-transform: none;

  }
  h4 a:after {
    content: "" !important;
    display: inline;
  }
}
