$global-search-h-padding: 14;
$global-search-v-padding: 14;
$global-search-bg-color: #313131;

.global-search {

	width: 100%;
	position: relative;

	input {
		background-color: $global-search-bg-color;
		font-family: $serif-font;
		font-size: em-calc(18);
		font-style: italic;
		color: $gray-20;
		border: none;
		//padding: em-calc($global-search-v-padding) em-calc($global-search-h-padding * 2) em-calc($global-search-v-padding) em-calc($global-search-h-padding);
		margin: 0;
		height: em-calc(38);

		@include transition-property(background-color);
		@include transition-duration(0.5s);
		@include box-sizing(border-box);

		&:focus {
			background-color: $gray-20;
			color: $black;
		}
	}

	.fa {
		color: $blue-chill-80;
		position: absolute;
		top: 10px;
		right: 15px;
	}

}
