.library-chat {

  display: none;
  margin-right: -1.2em;
  font-size: .9rem;
  color: $gray-75;
  padding-top: 12px;
  width: 11.26rem;
  margin-bottom: 0;
  @include transition-property(all);
  @include transition-duration(0.30s);
  cursor: pointer;

  a:visited {
    color: $gray-75;
  }

  &:hover {
    cursor: pointer;
    color: $ecru-25;
    text-decoration: none;
    .fa {
      color: $blue-chill;
    }
  }
  &:visited {
    color: $gray-75;
    &:hover {
      color: $ecru-25;
    }
  }

  .column {
    padding: 0;
  }

  .librarian-label {
    font-size: 1.1rem;
  }


}

.side-chat {
  color: #000;
}