.main-nav-large {

	width: 100%;

	ul {
		width: 100%;
	}

	li {
		display: inline-block;
		padding: 0 1.25%;
		&:first-child {
			padding-left: 0;
		}
		&:last-child,
		.last {
			padding-right: 0;
		}
	}

	a:link,
	a:visited {
		font-family: $serif-font;
		font-size: em-calc(22);
		font-style: italic;
		color: $ecru;
		.no-js & {
			letter-spacing: -1px;
		}
	}

	a:hover,
	a:active {
		text-decoration: none;
		color: $gray-20;
	}

	@include bp (large-up) {

		a:link {
			font-size: em-calc(27);
		}

	}

	@include bp (xlarge-up) {

		li {
			padding: 0 2%;
		}

		a:link {
			font-size: em-calc(28);
		}

	}

	@include bp (xxlarge-up) {

	}

}