.masthead-default {

	background-color: $gray-85;
	display: none;

	@include bp(medium-up) {
		background-image: url(i/hatfield-top-2.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		display: block;
		@include em_minheight(165px); // To clear header
	}

}