body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;

  /* library dialog box */
  .ui-dialog {
    background: #eee;
    padding: 2px;
  }

  .ui-dialog p {
    padding: 8px;
  }
  .ui-dialog-titlebar {
    background: $ecru-50;
    border: 1px solid $dark-tan-80;
    padding: 4px;
  }

  .ui-corner-all {
    border-radius: 2px;
  }

  .ui-dialog button.ui-state-default {
    border: 1px solid $dark-tan-80;
  }

  .ui-dialog .column {
    padding-left: 0;
    padding-right: 3px;
  }

}