.level-container {

  background-image: url(i/masthead-bottom-img.jpg), url(i/background-grain.jpg);
  background-repeat: no-repeat, repeat-x;
  background-position: top center, top center;

  padding: 1em 0 2em;
  margin: 0 auto;


  .main-column {
    margin-bottom: 2em;

    article {

      .callout {
        margin: 1.5em 0;

        &.with-image, &.with-video {
          max-width: em-calc(500);
          margin: 1.5em auto;

          @include bp(medium-up) {
            max-width: none;
            margin: 1.5em 0;
          }

        }

      }

      .callout-group-news {
        margin: 1.5em 0;

        .callout {
          margin: 0.375em 0;

          &.with-image, &.with-video {
            margin: 0.375em auto;

            @include bp(medium-up) {
              margin: 0.375em 0;
            }

          }

        }

      }

    }

  }

  .sidebar {

    > :first-child {
      margin-top: 0;
    }

    @include bp(wildcard-up, em-calc($grid-max-width + 20px)) {
      padding-left: 0;
    }

  }

  .no-masthead & {
    background-image: url(i/hatfield-bottom-2.jpg), url(i/background-grain.jpg);
  }

  @include bp(medium-up) {
    padding: 2em 0;
  }

  @include bp(medium-only) {
    padding-top: 60px;
  }


  .library-defaults {

    ul.inline-list > li {
      margin-left: 1.12rem !important;
    }

    .inline-list > li > a:visited {
       color: $blue-chill;
    }

  }

  ul.navigation-list {

    margin-bottom: 30px;
    padding-top: 15px;
    color: $gray-20;

  }

  .options-container {

    background-color: rgba(241, 239, 233, 0.5);
    border-top: 1px solid $dark-tan;
    border-bottom: 1px solid $dark-tan;
    margin-top: 36px;
    margin-bottom: 40px;
    padding: 15px;
    padding-bottom: 40px;
  }

  .search-result-panel {
    border: 1px solid $gray-20;
    margin-top: 8px;
    padding: 15px;
  }

  .highlight-text {
    color: $auburn;
  }

  .icon-text {
    color: $gray-60;
  }

  .db-axn-label {
    color: $gray-60;
  }

  .coverage-text {
    color: $gray-60;
  }

  /* library dialog */
  #dialog {

    display: none;
    width: 20em;

  }

  .page-form-container {
    a.button {
      margin: 0;
    }
  }

  .subnav-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $gray-33;
    border-bottom: 1px solid $gray-33;

    .sub-nav {
      overflow: visible;
    }
    .sub-nav dd {
         margin-left: 0.1rem;
    }

  }


}