html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	width: 100%;
	color: $body-font-color;
	* {
		// Allow non-breaking characters to wrap
		word-break: break-word;
		word-wrap: break-word;
		// // Better defaults for `background` so we can just do background: url(image) and not have to set anything else.
		// background-color: transparent;
		// background-position: top center;
		// background-repeat: no-repeat;
	}
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// *, *:before, *:after { // this is already set in foundation _global
// 	box-sizing: inherit;
// }

// Opinion: No underlines on links, but always underlines on hover (ian)
a { text-decoration: none; }
a:hover,
a:focus { text-decoration: underline; }

select {
	background-image: url(i/select.png);
	background-size: 31px 37px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 0 $black;
	white-space: nowrap;
	padding: 0 em-calc(31) 0 0.5rem;
	// @include border-radius(0.375em);
	
	option {
		color: $body-font-color;
		padding: 0.5rem;
	}

}

.lt-ie10 select {
	background-image: none;
	background-size: 0;
	appearance: normal;
	-moz-appearance: normal;
	-webkit-appearance: normal;
	color: $body-font-color;
	text-shadow: none;
	padding: 0;
	@include border-radius(0);
}

select,
input[type='text'],
input[type='password'],
input[type='search'],
input[type='submit'] {
	border: 1px solid $gray-33;
}

// Set word-break back to normal so that text inputs don't wrap
input[type='text'],
input[type='password'],
input[type='search'],
input[type='submit'] {
	word-break: normal;
}

// Opinion: Background color to white, and shrink if necessary
input[type='text'],
input[type='password'],
input[type='search'],
input[type='submit'],
textarea,
select { background-color: #fff; max-width: 100%; }

// Opinion: Add some padding around checkboxes and radio buttons
input[type='radio'],
input[type='checkbox'] { margin: 0 0.4em; }

// Opinion: This is basically what responsive design is.
img { max-width: 100%; }

// Opinion: Black borders around tables because sometimes IE doesn't draw borders at all.
table,
tbody,
tr,
td { border: 1px solid #000; }

h1, h2, h3, h4, h5, h6 {

	font-family: $heading-font;
	font-weight: bold; /* Fallback */
	font-weight: 500;
	line-height: 1;
	margin: em-calc(15) 0 em-calc(5) 0;

	a:not(.rss):after {
		@extend .fa;
		font-size: 0.75em;
		width: 1em;
		color: $blue-chill-70;
		content: $fa-var-chevron-circle-right;
		vertical-align: middle;
		display: inline-block;
		@include em_margin(0px, 0px, 0px, 5px);
		@include transition-property(all);
		@include transition-duration(0.25s);
	}

	a:not(.rss):hover:after {
		margin-left: 0.175em;
	}

	&:hover,
	&:visited {
		text-decoration: none;
	}

	a:link.rss {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		width: 0.625em;
		height: 0.625em;
		background-color: $blue-chill-80;
		@include border-radius(0.675em);

		.label {
			display: none;
		}
		&:visited, &:visited:after, &:after {
			color: $white !important;
		}
		&:after {
			@extend .fa;
			content: $fa-var-rss;
			margin: 0;
			position: absolute;
			top: 0.35em;
			left: 0.45em;
			font-size: 0.375em;
			@include transition-property(all);
			@include transition-duration(0.25s);
		}
		&:hover {
			background-color: $blue-chill;
			&:after {
				margin-left: 0;
			}
		}
	}

}

h1, h2 {
	color: $maroon;
	a {
		color: $maroon;
		&:hover, &:visited {
			text-decoration: none;
		}
		&:hover {
			color: $auburn;
		}
		&:visited {
			color: $maroon;
			&:hover {
				color: $auburn;
			}
		}
	}
}

h3, h4, h5, h6 {
	color: $body-font-color;
	a {
		color: $body-font-color;
		&:hover,
		&:visited {
			text-decoration: none;
		}
		&:hover {
			color: lighten($body-font-color, 25%);
		}
		&:visited {
			color: $body-font-color;
			&:hover {
				color: lighten($body-font-color, 25%);
			}
		}
	}
}

h1 {
	@include em_fontsize(50px);
	a:after {
		@include em_margin(-3px, 0px, 0px, 5px);
	}
}

h2 {
	@include em_fontsize(41px);
	a:after {
		@include em_margin(-2px, 0px, 0px, 5px);
	}
}

h3 {
	@include em_fontsize(33px);
	a:after {
		@include em_margin(-2px, 0px, 0px, 5px);
	}
}

h4 {
	@include em_fontsize(27px);
	a:after {
		@include em_margin(-1px, 0px, 0px, 5px);
	}
}

h5 {
	@include em_fontsize(23px);
	a:after {
		@include em_margin(-1px, 0px, 0px, 5px);
	}
}

h6 {
	@include em_fontsize(19px);
	a:after {
		@include em_margin(-2px, 0px, 0px, 5px);
	}
}

p {
	margin: 0 0 em-calc(15) 0;
	&.teaser {
		font-size: em-calc(28);
		font-style: italic;
		font-family: $serif-font;
		line-height: 1.25;
	}
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: $link-visited-color;
	}
	@include transition-property(color);
	@include transition-duration(0.5s);
}

a, a:hover, a:active, a:focus {
	outline: 0;
}

b {
	font-weight: bold; /* Fallback */
	font-weight: 700;
}

button, .button {
	display: block;
	margin: 0.75em 0.25em 0.75em 0;
	padding: 0.625em 1em;
	width: 100%;
	background-color: $blue-chill-80;
	border: 0;
	color: $white;
	font-family: $heading-font;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold; /* Fallback */
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	&:hover {
		background-color: $blue-chill;
		text-decoration: none;
	}
	&:visited {
		color: $white;
		background-color: $blue-chill-80;
		&:hover {
			background-color: $blue-chill;
		}
	}
	@include bp(medium-up) {
		display: inline-block;
		width: auto;
	}
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		list-style-position: inside;
	}
}

.vcard { // Microformats
	max-width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	div, span {
		line-height: 1.675;
		font-size: 16px;
	}
	> div {
		margin: 0 0 em-calc(7);
	}
	.adr {
		.locality:after {
			content: ',';
		}
		.country-name {
			display: none;
		}
	}
}

iframe {
	display: block;
	max-width: 100%;
}

.title {
	font-weight: bold; /* Fallback */
	font-weight: 700;
}
