// http://name-of-color.com/


// Colors
$white: #fff;
$black: #000;
$maroon: #791716;
$auburn: #aa312e;
$ecru: #c0ac7e; // Light brown
$ecru-50: #d3c5a4;
$ecru-25: #efeadf;
$sidecar: #efe4be; // Light yellow
$dark-tan: #957b47;
$dark-tan-90: #9f8859;
$dark-tan-80: #aa956c;
$blue-chill: #0f959f;
$blue-chill-80: #3faab2;
$blue-chill-70: #57b5bc;
$blue-chill-50: #87cacf;
$gray-90: #191919;
$gray-85: #262626;
$gray-80: #333333;
$gray-75: #404040;
$gray-60: #666666;
$gray-33: #aaaaaa;
$gray-20: #cccccc;
$tory-blue: #0f4c9f;

$body-font-color: $gray-85;
$link-color: $blue-chill;
$link-visited-color: $tory-blue;


// Willamette SVG Colors
$willamette-svg-primary: $ecru;
$willamette-svg-secondary: $white; // For I AM text
$willamette-svg-secondary-fade: darken($white, 15%); // Color I AM text fades to on "Who Am I?" hover


// Fonts
// TypeKit login: bhoyt@willamette.edu/jason1842lee
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$franklin-gothic: "franklin-gothic-urw-cond", sans-serif; // book 400, medium 500
$garamond: "adobe-garamond-pro", serif;

$default-font: $helvetica;
$heading-font: $franklin-gothic;
$serif-font: $garamond;


// Measurements
$homepage-max-width: 1425px;
$grid-max-width: 1124px;
