.user-markup {
    font-size: em-calc(18);

    .content-slider ul > li {
        margin: 0;
    }

    ul, ol {
        margin: 0.5em 0 1em;
        font-size: em-calc(18);
        &.no-list-styling { // Resets list to not use bullets or numbers
            padding: 0;
            > li {
                text-indent: 0 !important;
                padding: 0;
                &:before {
                    display: none;
                }
            }
        }
        ul, ol {
            margin: 0.5em 0 1em;
        }
        > li {
            margin: 0.25em 0;
        }
        li {
            line-height: 1.25;
        }
    }

    ul {
        padding: 0 0 0 0.75em;
        list-style: none;
        &.breadcrumbs {
            margin: 0 0 1.5em;
            padding: 0;
            > li {
                text-indent: 0 !important;
                padding: 0;
                &:before {
                    display: none;
                }
            }
        }
        > li {
            text-indent: -11px;
            padding: 0 0 0 0.75em;
            &:before {
                content: '\2022';
                display: inline-block;
                color: $ecru;
                font-size: 1.5em;
                vertical-align: middle;
                margin: 0 0.2em 0 0;
                line-height: 0.5;
                position: relative;
                top: -2px;
                .safari & {
                    margin: 0;
                }
            }
            .safari & {
                text-indent: -0.75em;
            }
        }
        > ol {
            padding: 0 0 0 2em;
        }
        > ul {
            padding: 0 0 0 1em;
        }
    }

    ol {
        padding: 0 0 0 1.875em;
        list-style-type: decimal;
        > li {
            text-indent: -18px;
            &:before {
                display: none;
            }
        }
        > ul {
            padding: 0;
        }
        > ol {
            padding: 0 0 0 1em;
        }
    }

    img {
        &.left, &[align=left], &.right, &[align=right] {
            float: none !important; // foundation writes as important to override attributes
            display: block;
        }
        &.left, &[align=left] {
            padding: 0.3em 1em 1em 0;
            float: left !important;
        }

        &.right, &[align=right] {
            padding: 0.3em 0 1em 1em;
            float: right !important;
        }
    }

    table {
        td {
            padding: 0.5em;
        }
    }

    p {
        font-size: em-calc(18);
        &.teaser {
            font-size: em-calc(28);
            font-style: italic;
            font-family: $serif-font;
            line-height: 1.25;
        }
    }

}