
md-content(layout="row", layout-align="start start", flex, ng-controller="AreaCtrl as vm")
  md-content(layout="column" flex="75")
    md-card.flex(flex, style="height: 990px;")
      div(ng-if="vm.area.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="20")
            i.material-icons public
            span.md-subhead &nbsp;AREAS
          h2.md-display-2 {{area.title}}
          span(flex)
          md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Area" ng-click="vm.showDialog($event, vm.deleteMessage)") <i class="material-icons">delete</i>
      md-card-content
        div(layout="row", layout-align="start start")
          div(flex="20" )
            md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="vm.showDialog($event, vm.addMessage)") Add New Area
            div(layout="column", style="height:770px;")
              md-content(flex)
                md-list
                  div(ng-repeat="area in vm.areas")
                    md-list-item
                      md-button(class="md-no-style md-button  md-default-theme", ng-class="{'md-primary': area.id==vm.currentAreaId}" style="min-height: 47px;" ng-click="vm.resetArea(area.id);")
                        div(class="list-group-item-text md-subhead layout-fill") {{area.title}}
                          div.md-ripple-container
                  md-divider
          md-content(layout-padding flex="80" style="padding-left: 20px;")
            span #[em Areas] are at the top of the organizational model and are the most general way to group collections. A collection can be assigned to multiple Areas.
              div(flex)
            div(flex)
              md-button(class="md-raised md-accent" style="float:right;" ng-click="vm.updateArea()") Update Area
              div(flex)
                p &nbsp;
            md-input-container
              label Area Name
              input(type="text", ng-model="vm.area.title")
            md-input-container
              label Description  &nbsp;
                span(class="md-subhead md-default") maxuimum characters 450 (current {{vm.area.description.length}})
              textarea(type="textarea", ng-trim="false", ng-model="vm.area.description", maxlength="450")
            md-input-container
              label Button Label
              input(type="text", ng-model="vm.area.linkLabel")
            md-input-container
              label URL
              input(type="text", ng-model="vm.area.url")
            md-input-container
              label Search URL
              input(type="text", ng-model="vm.area.searchUrl")

  md-content(layout="column" flex="25")
