
md-content(layout="row", layout-align="start start",  ng-controller="CollectionCtrl as vm")
  md-content(layout="column" flex="75")
    md-card.flex(flex, style="height: 990px;")
      div(ng-if="vm.collectionList.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="25")
            i.material-icons() collections
            span.md-subhead &nbsp;COLLECTIONS
          span(flex="70")
            h3.md-display-1 {{vm.collection.title}}
          span(flex)
          md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Collection" ng-click="vm.showDialog($event, vm.deleteMessage)") <i class="material-icons">delete</i>
      md-card-content
        div(layout="row", layout-align="start start")
          div(flex="20" )
            md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="vm.showDialog($event, vm.addMessage)") Add Collection
            div(layout="column", style="height:770px;")
              md-content(flex)
                md-list
                div(ng-repeat="col in vm.collectionList")
                  md-list-item
                    md-button(class="md-no-style md-button  md-default-theme", ng-class="{'md-primary': col.collection.id==vm.collectionId}" style="min-height: 47px;" ng-click="vm.getCollectionById(col.collection.id);")
                      div(class="list-group-item-text md-subhead layout-fill") {{col.collection.title}}
                        div.md-ripple-container
                  md-divider
          md-content(layout-padding flex="80" style="padding-left: 20px;")
            div(flex="80" class="md-subhead grey-text")
              span With the exception of item count and dates, all fields for this Collection must be complete.  You can use the default image if none is available. A minimum of one content type and one subject tag should be provided.  The Collection MUST belong to at least one subject area.
            div(flex)
            md-button(class="md-raised md-accent" style="float:right;" ng-click="vm.updateCollection()") Update
            div(flex)
              p &nbsp;
            md-input-container
              label Collection Name
              input(type="text", ng-model="vm.collection.title")
            md-input-container
              label Description  &nbsp;
                span(class="md-subhead md-default") maximum characters 450 (current {{vm.collection.description.length}})
              textarea(type="textarea", ng-trim="false", ng-model="vm.collection.description", maxlength="450")
            md-input-container
              label Collection Group
              md-select(ng-model="vm.collection.category" placeholder="Select a Collection Group")
                md-option(ng-repeat="category in vm.categoryList" ng-value="category.id") {{category.title}}
            md-input-container
              label Coverage Dates
              input(type="text", ng-model="vm.collection.dates")
            md-input-container
              label Item Count
              input(type="text", ng-model="vm.collection.items")
            md-input-container
              label URL
              input(type="text", ng-model="vm.collection.url")
            div(style="margin-bottom: 5px;")
              div.md-caption Item Type
              md-radio-group(layout="row" ng-model="vm.collection.ctype")
                div(flex="25")
                  md-radio-button(aria-label="Unrestricted" value="dig" style="display: inline") Collection
                div(flex="25")
                  md-radio-button(aria-label="Restricted" value="itm" style="display: inline") Single Item
                div(flex="25")
                  md-radio-button(aria-label="Restricted" value="aid" style="display: inline") Finding Aid
                span(flex)
            md-divider
            div(style="margin-top: 10px; margin-bottom: 15px;")
              div.md-caption Collection Access
              md-radio-group(layout="row" ng-model="vm.collection.restricted")
                div(flex="25")
                  md-radio-button(aria-label="Unrestricted" ng-value="true" flex="15" style="display: inline") Unrestricted
                div(flex="25")
                  md-radio-button(aria-label="Restricted" ng-value="false" flex="15" style="display: inline") Restricted
                  span(flex)
            md-divider
            div(style="margin-top: 10px; margin-bottom: 15px;")
              div.md-caption Browse Collection Type
              md-radio-group(layout="row" ng-model="vm.collection.browseType")
                div(flex="25")
                  md-radio-button(aria-label="Link" value="link" flex="15" style="display: inline") Link
                div(flex="25")
                  md-radio-button(aria-label="Selection" value="opts" flex="15" style="display: inline") Selection
                span(flex)
            md-divider
            div(style="margin-top: 10px; margin-bottom: 35px;")
              div.md-caption Search Options
              md-radio-group(layout="row" ng-model="vm.collection.repoType")
                div(flex="25")
                  md-radio-button(aria-label="Unrestricted" value="DEFAULT" flex="15" style="display: inline") Search & Browse
                div(flex="25")
                  md-radio-button(aria-label="Restricted" value="BROWSE" flex="15" style="display: inline") Browse Only
                div(flex="25")
                  md-radio-button(aria-label="Restricted" value="SEARCH" flex="15" style="display: inline") Search Only
                span(flex)
  md-content(layout="column" flex="25")
    md-card.flex(flex)
      md-toolbar.md_primary
        .md-toolbar-tools
          i(class="material-icons") image
          h3.md-display-1 &nbsp;Image
          div(flex)
            md-button(class="md-accent md-raised md-fab md-mini", ng-click="vm.showDialog($event, vm.updateImageMessage)", style="float: right;")
              i(class="material-icons") file_upload
      md-card-content
        div(layout="row")
          md-card(flex="40" style="margin:0;max-width: 120px")
            img(style="max-width: 120px;" src="/resources/img/thumb/{{vm.thumbnailImage}}")
          md-card-content
            span.md-caption Recommended image size is 600px wide by 500px high (Thumbnails are created from the original)

    md-card.flex(flex)
      md-toolbar.md_primary
        .md-toolbar-tools
          i.material-icons link
          h3.md-display-1 &nbsp;Tags
          span(flex)
      md-card-content
        div(layout="column")
          md-input-container(ng-controller="TagFilterCtrl as vm")
            div(layout="column" class="chips")
              md-container
                label Add Tags
                md-chips(ng-model="vm.tagsForCollection",  md-autocomplete-snap="", md-require-match="true", md-on-append="vm.addTag($chip)", md-on-remove="vm.removeTag($chip)")
                  md-autocomplete(md-selected-item="vm.selectedItem", md-min-length="1" md-search-text="vm.searchText", md-no-cache="true", md-items="item in vm.queryTags(vm.searchText)", md-item-text="item.tag", )
                    span(md-highlight-text="vm.searchText") {{item.tag.name}}
                  md-chip-template
                    span {{$chip.name}}
                  button(md-chip-remove="", class="md-primary taggerchip")
                    md-icon(md-svg-icon="md-close")
          md-container
    md-card.flex(flex)
      md-toolbar.md_primary
        .md-toolbar-tools
          i(class="material-icons") image
          h3.md-display-1 &nbsp;Content Type
          span(flex)
      md-card-content
        div(layout="column")
          md-input-container(ng-controller="ContentTypeFilterCtrl as vm")
            div(layout="column" class="chips")
              md-container
                label Add Types
                md-chips(ng-model="vm.typesForCollection",  md-autocomplete-snap="", md-require-match="true", md-on-append="vm.addType($chip)", md-on-remove="vm.removeType($chip)")
                  md-autocomplete(md-selected-item="vm.selectedItem", md-search-text="vm.searchText", md-no-cache="true", md-items="item in vm.queryTypes(vm.searchText)", md-item-text="item.tag", )
                    span(md-highlight-text="vm.searchText") {{item.name}}
                  md-chip-template
                    span {{$chip.name}}
                  button(md-chip-remove="", class="md-primary taggerchip")
                    md-icon(md-svg-icon="md-close")
    md-card.flex(flex)
      md-toolbar.md_primary
        .md-toolbar-tools
          i(class="material-icons") public
          h3.md-display-1 &nbsp;Areas
          span(flex)
      md-card-content(ng-controller="CollectionAreasCtrl as vm")
        div(layout="column", class="md-subhead") Select the Areas in which this Collection will appear.
          md-container
            md-checkbox(ng-repeat="area in vm.areas", aria-label="Areas" value="area.id" ng-checked="vm.isChosen(area.id)" ng-click="vm.update(area.id)") {{area.title}}


