
md-content(layout="row", layout-align="start start", flex, ng-controller="ContentCtrl as vm")
  md-content(layout="column" flex="75")
    md-card.flex(flex, style="height: 990px;")
      div(ng-if="vm.contentType.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="20")
            i.material-icons image
            span.md-subhead &nbsp;TYPES
          span(flex="70")
            h2.md-display-2 {{vm.contentType.name}}
          span(flex)
            md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Area" ng-click="vm.showDialog($event, vm.deleteMessage)") <i class="material-icons">delete</i>
      md-card-content
        div(layout="row", layout-align="start start")
          div(flex="20" )
            md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="vm.showDialog($event, vm.addMessage)") Add Content Type
            div(layout="column", style="height:770px;")
              md-content(flex)
                md-list
                  div(ng-repeat="type in vm.contentTypes")
                    md-list-item
                      md-button(class="md-no-style md-button  md-default-theme", ng-class="{'md-primary': type.id==vm.currentType}" style="min-height: 47px;" ng-click="vm.resetType(type.id);")
                        div(class="list-group-item-text md-subhead layout-fill") {{type.name}}
                          div.md-ripple-container
                    md-divider
          md-content(layout-padding flex="80" style="padding-left: 20px;")
            div(flex="80" class="md-subhead grey-text")
              span #[em Content Types] are essentially media or file types and should be thought of in those terms. This in mind, it may sometimes be helpful to create more general types, e.g. Document and Transcribed Document.
            div(flex)
            div(flex)
              md-button(class="md-raised md-accent" style="float:right;" ng-click="vm.updateContentType()") Update Content Type
            div(flex)
              p &nbsp;
              md-input-container
                label Type Name
                input(type="text", ng-model="vm.contentType.name")
              md-input-container
                label Type Icon (Fontawesome icon name:  e.g. fa-bus )
                input(type="text", ng-model="vm.contentType.icon")
              div(ng-if="vm.contentType.icon" style="font-size: 2rem;")
                i(class="fa {{vm.contentType.icon}}")
        div.md-panel Fontawesome Icons:
          a(href="https://fortawesome.github.io/Font-Awesome/icons/", target="_blank")  https://fortawesome.github.io/Font-Awesome/icons/
  md-content(layout="column" flex="25")
