md-content( layout-align="start start", flex, ng-controller="OverviewCtrl as vm")
  md-content(layout="column" flex)
    md-card.flex(flex, style="height: 990px;")
      div(ng-if="vm.category.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="20")
            i.material-icons home
            span.md-headline &nbsp; {{vm.areaLabel}}


      md-card-content.flex
        div(layout="row", layout-align="start start" style="height: 100%")
          md-list(flex="40")
            md-list-item
              div
                span(class="md-title grey-label") Collection Count:
              div
                span.md-title &nbsp;{{vm.collections.length}}
            md-list-item
              span(class="md-title grey-label") Restricted Collections:
              span.md-title &nbsp;{{vm.restricted}}
            md-list-item
              span(class="md-title grey-label") Public Collections:
              span.md-title &nbsp;{{vm.public}}
            md-list-item
              span(class="md-title grey-label") Public Collections:
            md-list-item
              span(class="md-title grey-label") Public Collections:
            md-list-item
              span(class="md-title grey-label") Public Collections:
            md-list-item
              span(class="md-title grey-label") Public Collections:
          div(flex="60" style="height: 900px;")
            div(layout="column", layout-align="start start" style="height: 100%")
              div(flex="100")
                span.md-title Collection Groups
                div(id="categoryChart" class="svg-container" flex style="height:740px; width:740px;padding-top: 10px;" d3-pie data="vm.categoryCounts")
