
md-content(layout="row", layout-align="start start", flex, ng-controller="TagCtrl as vm")
  md-content(layout="column" flex="75")
    md-card.flex(flex, style="height: 990px;")
      div(ng-if="vm.tags.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="20")
            i.material-icons link
            span.md-subhead &nbsp;TAGS
          span(flex="70")
            h2.md-display-2 {{vm.tag.name}}
          span(flex)
          md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Tag" ng-click="vm.showDialog($event, vm.deleteMessage)") <i class="material-icons">delete</i>
      md-card-content
        div(layout="row", layout-align="start start")
          div(flex="20" )
            md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="vm.showDialog($event, vm.addMessage)") Add Tag
            div(layout="column", style="height:770px;")
              md-content(flex)
                md-list
                  div(ng-repeat="tag in vm.tags")
                    md-list-item
                      md-button(class="md-no-style md-button  md-default-theme", ng-class="{'md-primary': tag.id==vm.currentTag}" style="min-height: 47px;"  ng-click="vm.resetTag(tag.id);")
                        div(class="list-group-item-text md-subhead layout-fill") {{tag.name}}
                          div.md-ripple-container
                    md-divider
          md-content(layout-padding flex="80" style="padding-left: 20px;")
            div(flex="80" class="md-subhead grey-text")
              span Collections can be associated with one or more #[em Subject Tags]. A single Subject Tag can be used across multiple Areas. (A Tag must be assigned to at least one Area.)
            div(flex)
              md-button(class="md-raised md-accent" style="float:right;" ng-click="vm.updateTag()") Update Tag
            div(flex)
              p &nbsp;
            md-input-container
              label Tag Name
              input(type="text", ng-model="vm.tag.name")


  md-content(layout="column" flex="25")
    md-card.flex(flex)
      md-toolbar.md_primary
        .md-toolbar-tools
          <i class="material-icons">bookmark</i>
          h3.md-display-1 Areas
          span(flex)
      md-card-content(ng-controller="TagAreasCtrl as vm")
        div(layout="column", class="md-subhead") Select the Areas in which this Tag will appear.
          md-container
            md-checkbox(ng-repeat="area in vm.areas", aria-label="Areas" value="area.id" ng-checked="vm.isChosen(area.id)" ng-click="vm.update(area.id)") {{area.title}}
