<div class="small-12 column ac-opaque">
  <div class="panel" >
    <div class="row">
      <div class="small-12 medium-6 large-6 column">
        <h2>{{title}}</h2>
      </div>

      <div ng-if="subjectId.length > 0" class="small-12 medium-6 large-6 column hide-for-small-down  tag-box text-right">
        <ul>
          <li>
            <span class="stack-label">Using subject tag:</span>
          </li>
          <li>
            <a href="#" class="button round tiny">{{subjectName}} &nbsp;<i class="fa fa-times"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div style="width: 100%; border-top: 1px solid rgba(160,160,160,0.2); padding-top: 16px; padding-left: 15px;">
      <div class="row">
        <p>{{description}}</p>
        <form ng-if="searchUrl.length > 0" name="simpleForm" ng-cotroller="AcomHomeSearchCtrl" ng-submit="submitQuery(query)" method="get" action="{{searchUrl}}">
          <div class="large-5 medium-5 small-6 left">
            <input type="text" ng-model="query.terms" placeholder="Search terms" ng-keyup="$event.keyCode == 13 &amp;&amp; submitQuery(query)" class="ng-pristine ng-valid">
          </div>
          <div class="large-1 medium-1 small-2 left end">
            <a href="#" class="postfix radius" style="background-color:#3faab2;border: none; color: #fff;"><i class="fa fa-search"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
