<div class="row">
    <div class="large-12 columns page-header">
        <div class="row ">
            <div class="large-12 columns">
                <h3>{{tagInfo.name}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="row  show-for-large-up">
    <div class="small-8 columns">
        <ul class="breadcrumbs">
            <li><i class="fa fa-home"></i> <a href="http://library.willamette.edu/archives">University archives</a></li>
            <li><a href="/#/archives">Archives Collections</a></li>
            <li class="current">{{tagInfo.name}}</li>
        </ul>
    </div>
    <div class="small-4 columns text-right" style="margin-bottom: 11px;">
        <a href="/#/home"><img src="../images/academiccommons_lg.png"></a>

    </div>
    <div class="row">
        <div class="small-12 column" ng-if="isAdminTypeTag(tagInfo.type)" >
            <search-form name="{{tagInfo.name}}" query-scope="{{tagInfo.name}}" url="{{tagInfo.url}}"  ></search-form>
        </div>

    </div>
    <div class="row">
        <div class="small-12 text-center">
            <div id="loadingImage" style="display: none;"><img src="/images/8.gif">&nbsp;&nbsp;loading ...</div>
        </div>
    </div>
    <div class="row" >

        <div class="large-12 columns text-center">

            <h6 id="resultInfo" class="highlight-text" style="display:none;margin:0 0 30px;">
                {{tagInfo.name}} contains {{filtered.length}} {{getTypeLabel()}}{{plural(collections[0])}}.
            </h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-2 large-2 columns " style="margin-top: 30px;">
        <div class="row">
            <div class="switch round large">
                <legend style="font-size: 0.9rem;margin-left: 12px;margin-top: 20px;font-weight:bold;">Show Finding Aids Only</legend>
                <input id="eadcheckbox" type="checkbox" ng-model="collectionType.ead" ng-change="resetFilter('ead')" ng-init="collectionType.ead=false"/>
                <label for="eadcheckbox">All</label>
            </div>
        </div>
        <div class="row">
            <div class="switch round large">
                <legend style="font-size: 0.9rem;margin-left: 12px;margin-top: 30px;font-weight:bold;">Digital Collections Only</legend>
                <input id="digcheckbox" type="checkbox" ng-model="collectionType.dig" ng-change="resetFilter('dig')" ng-init="collectionType.dig=false"/>
                <label for="digcheckbox">All</label>
            </div>
        </div>
    </div>
    <div class="small-12 medium-10 large-10 columns">
        <div class="row" style="background: #eee;padding: 6px;">
            <div class="small-12">
                <div class="right">
                    <a ng-click="toggleView()">{{toggleText}}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="collection in filtered = ( collections[1] | collectionFilter:collectionType)" ng-switch on="layout" class="view-frame small-12">
                <div class="row" ng-if="!isFindingAid(collection.collType)">
                    <div ng-switch-when="full">
                        <tagged-collection name="{{collection.name}}" url="{{collection.url}}" description="{{collection.description}}" browse-type="{{collection.browseType}}" image="{{collection.image}}" coll-type="{{collection.collType}}" dates="{{collection.dates}}" items="{{collection.items}}" item-types="collection.itemTypes" tags="collection.tags">
                        </tagged-collection>
                    </div>
                    <div ng-switch-when="list">
                        <simple-link name="{{collection.name}}" url="{{collection.url}}"></simple-link>
                    </div>
                </div>
                <div class="row" ng-if="isFindingAid(collection.collType)" >
                    <div class="panel findingaid" style="background: #F0F5F7; border: 1px solid #F0F5F7;" ng-switch-when="full">
                        <findingaid name="{{collection.name}}" url="{{collection.url}}" description="{{collection.description}}"></findingaid>
                        <div class="row">
                            <div class="small-12 column" >
                                <tag name="{{tagger.tag.name}}" id="{{tagger.tag.id}}" update-items="updateItems(tagger.tag.id)" ng-repeat="tagger in collection.tags"></tag>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="list">
                        <simple-link name="{{collection.name}}" url="{{collection.url}}"></simple-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
