<div class="row">
    <form method="get">
        <fieldset>
            <legend>Search {{name}}</legend>
            <div class="small-12 medium-7 large-7  columns">
                <div class="row collapse" >
                    <div class="small-10 columns">
                        <i class="fi-magnifying-glass"></i>

                        <input type="text" ng-model="query.terms" placeholder="Enter search terms" ng-keyup="$event.keyCode == 13 && submitQuery(query)">
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix radius" ng-click="submitQuery(query);"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>

        </fieldset>
   </form>
 </div>