.card-content {

  min-height: 60px;

  p {
    height: 50px;
    color: $wu-card-text !important;
  }

  a {
    color:  $wu-card-text !important;
    text-decoration: none;
    text-transform: none;

  }
  h4 a {
    color: #791716 !important;
  }
  h4 a:after {
    color: #DBD8D0;

  }
}
