.masthead-overlay-image {
	text-align: center;
	margin: 0 auto;
	// em-calc wasn't working with the math - SH
	height: -webkit-calc(100% - 90px);
	height: -moz-calc(100% - 90px);
	height: calc(100% - 90px);
	@include em_maxwidth(450px);

	img {
		padding: 1em 0 0;
		width: auto;
		max-width: 100%;
		max-height: 100%;

		@include bp(wildcard-up, 36em) {
			padding: 1.5em 0 0;
		}

		@include bp(xlarge-up) {
			padding: 0;
		}

	}

	@include bp(large-up) {
		height: -webkit-calc(100% - 130px);
		height: -moz-calc(100% - 130px);
		height: calc(100% - 130px);
	}

	@include bp(xlarge-up) {
		padding: 5% 0 0 0;
	}

	@include bp(wildcard-up, 77.5em) {
		padding: 10% 0 0 0;
	}

	@include bp(xxlarge-up) {
		padding: 12.5% 0 0 0;
	}
	
}