<md-dialog aria-label="Add dialog" style="width: 450px;">
    <md-dialog-content>
        <h3 class="md-display-1">Delete Area</h3>
          <md-input-container>
             WARNING: Deleting this Area will remove any Collection that is exclusively associated with it
              from the administrative and public views. Do not delete this Area unless you understand what you are doing.
              Are you sure you want to delete this Area?
          </md-input-container>
      </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
          </md-button>
        <md-button ng-click="deleteArea(Data.currentAreaIndex)" class="md-primary">
            Delete Area
          </md-button>
      </div>
  </md-dialog>
