<md-dialog aria-label="Add dialog" style="width: 450px;">
    <md-dialog-content>
        <h3 class="md-display-1">Delete Category</h3>
          <md-input-container class="md-default-theme md-input-has-value">
              Delete this category?
             </md-input-container>
      </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
          </md-button>
        <md-button ng-click="deleteArea(Data.currentAreaIndex)" class="md-primary">
            Delete Category
          </md-button>
      </div>
  </md-dialog>
