<md-dialog aria-label="Delete dialog" class="dialogs">
    <md-dialog-content>
        <h3 class="md-display-1">Delete Category</h3>
          <md-input-container>
              Delete this category?
             </md-input-container>
      </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="closeDialog()">
            Cancel
          </md-button>
        <md-button ng-click="deleteCategory(Data.currentCategoryIndex)">
            Delete Category
          </md-button>
      </div>
  </md-dialog>
