<md-dialog aria-label="Delete dialog" style="width: 450px;">
    <md-dialog-content>
        <h3 class="md-display-1">Delete Category</h3>
          <md-input-container>
              Delete this category?
             </md-input-container>
      </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
          </md-button>
        <md-button ng-click="deleteCategory(Data.currentCategoryIndex)" class="md-primary">
            Delete Category
          </md-button>
      </div>
  </md-dialog>
