.callout.callout-graphic {
	background-color: transparent;

	.callout-image {
		width: 100%;

		img {
			display: block;
			margin: 0 auto;
			@include em_maxwidth(500px);
		
			@include bp(large-up) {
				max-width: none;
			}
			
		}

	}

}