.filter-buttons {
	margin: 0.5em 0;
	padding: 0;

	.user-markup & {
		margin: 0.5em 0;
		padding: 0;
	}

	.user-markup & li, li {
		text-indent: 0 !important;
		display: block;
		padding: 0;

		&:before {
			display: none;
		}

		a {
			background-color: $ecru;
			color: $white;
			font-family: $heading-font;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bold; /* Fallback */
			font-weight: 500;
			letter-spacing: 1px;
			text-align: center;
			vertical-align: middle;
			white-space: nowrap;
			display: block;
			padding: 0.675em 1.5em;
			@include transition(all, 0.25s);

			&:hover, &:focus {
				text-decoration: none;
				.no-touch & {
					background-color: $maroon;
				}
			}

			&.active {
			 	background-color: $maroon;
				text-decoration: none;
			}

		}

		@include bp(wildcard-up, 28em) {
			display: inline-block;
			margin: 0 0.05em 0.325em 0;
		}

	}

}
