.footer-contact {
	ul {
		text-align: center;
		@include bp(large-up) {
			@include display-flex;
			@include justify-content(center);
		}
	}
	li, a, span {
		color: $white;
		font-size: 14px;
	}
	li {
		text-align: center;
		@include em_margin(20px, 0px);
		&:last-child:after {
			display: none;
		}
		&:after {
			@include bp(large-up) {
				display: inline-block;
				content: '|';
				color: $black;
				opacity: 0.5;
				@include em_margin(0px, 8px);
			}
		}
		&.copyright-line-1:after {
			@include bp(large-up) {
				content: ',\00a0'; // Comma and space after
				color: $white;
				@include em_margin(0px);
			}
		}
		&.phone, &.email, &.contact-us {
			a, span {
				color: $ecru;
			}
		}
		&.phone {
			.phone-mobile {
				@include bp(large-up) {
					display: none;
				}
			}
			.phone-desktop {
				display: none;
				color: $white;
				@include bp(large-up) {
					display: inline-block;
				}
			}
		}
		@include bp(large-up) {
			display: inline-block;
			@include em_margin(0px);
		}
	}
}