.footer-cta-nav {
	ul {
		@extend .clearfix;
	}
	li {
		display: block;
		background-color: $auburn;
		@include em_margin(0px, 0px, 8px, 0px);
		&:hover {
			background-color: lighten($auburn, 5%);
		}
		&:last-child {
			@include bp(medium-up) {
				@include em_margin(0px);
			}
		}
		@include bp(medium-up) {
			float: left;
			text-align: left;
			@include em_margin(0px, 20px, 0px, 0px);
		}
	}
	a {
		display: block;
		@include em_padding(6px, 18px);
		&:hover {
			text-decoration: none;
		}
		&.has-subtitle {
			&:before {
				display: none;
			}
			.title {
				display: block;
				text-align: center;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			width: 40px;
			height: 39px;
			background-image: url(i/willamette-watermark-maroon.png);
			vertical-align: middle;
			@include em_margin(0px, 7px, 0px, 0px);
		}
		.title, .subtitle {
			font-family: $heading-font;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: bold; /* Fallback */
			font-weight: 500;
			line-height: 1.1;
		}
		.title {
			color: $white;
			@include em_fontsize(20px);
			.no-js & {
				letter-spacing: 0px;
				@include em_fontsize(18px);
			}
		}
		.subtitle {
			display: block;
			color: $maroon;
			text-align: center;
			@include em_fontsize(16px);
		}
		.text {
			vertical-align: middle;
		}
		@include bp(medium-up) {
			@include em_width(220px);
			@include em_padding(6px, 12px, 6px, 12px);
		}
	}
}
