.instagram-tag {
	padding: 1.5em;
	background: $ecru-50;

	> a {
		display: block;
		font-family: $serif-font;
		font-weight: bold; /* Fallback */
		font-weight: 700;
		color: $dark-tan;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1;
		@include em_fontsize(30px);

		&:hover, &:active, &:focus {
			color: $dark-tan-80;
			text-decoration: none;
		}

		@include bp(medium-up) {
			@include em_fontsize(60px);
		}

	}

	@include bp(medium-up) {
		padding: 3.5em;
		background: url(i/home-instagram-feed-bg.png) no-repeat top center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
}