.library-content-box {



  p {
    font-size: 1.2rem;
    color: $gray-20;
  }

  .library-chat a {
    color: $blue-chill-50;
  }
  .library-chat a:hover {
    color: $blue-chill-70;
  }
  .library-chat a .fa {
    color: $blue-chill-50;
  }
  .library-chat a:hover .fa {
    color: $blue-chill;
  }
  .fa-comment {

    font-size: 2.2em;
    margin-right: -0.5em;
  }

  form {
    margin-top: 30px;
  }


  input[type='text'] {
    background: $gray-20;
    font-size: 1.1rem;
    color: $gray-60;

  }

  select:not(.lt-ie10) {
    background-image: url('i/selectarrow.png');
    background-position: 90% center;
    background-color: $gainsboro;
    background-size: 10px 10px;
    color: #2E424F;
    text-shadow :none;
    padding: 0 1.9375rem 0 0.5rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    font-size: 1.0rem;
    font-family: "franklin-gothic-urw-cond", sans-serif;
  }
  select.radius {
    border-radius: 0;
  }

  .tabs-content {
    margin-bottom: 0;
  }

  .button-group li.tab-title {
    background: $gray-33;
    padding: 0 20px;

  }
  .button-group li.tab-title:hover  {
    background: $gray-20;
  }

  .button-group li.active ,
  .button-group li.active  {
    background: $blue-chill;
    text-decoration: none;
  }
  .button-group li:hover.active  {
    background: $blue-chill-80;
  }

  .button-group li.tab-title > a,
  .button-group li.tab-title > a:visited {
    background: transparent;
    color: $gray-80;
    line-height: 3.21rem;
    display: block;
    text-decoration: none;
    font-family: inherit;
    padding: 0;
  }
  .button-group li.active > a,
  .button-group li.active > a:visited {
    color: $white;
  }

  .button-group li.tab-title > a:hover {
    text-decoration: none;
  }
  ul.dbs {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  ul.dbs li {
    margin-left: 0.98rem;
    color: $gray-60;
  }
  ul.dbs li > a {
    font-size: em-calc(18);
  }

  a.postfix {
    padding: 0 12px;
    margin: 0;
  }
  h3, h4, h5, h6 {
    margin: 1.95rem 0 1rem 0;
    color: $gray-20;
  }

  select {
    @include bp(small-only) {
      margin-bottom: 4px;
    }
  }

  .inline-list  {
    margin-top: 43px;
  }

  .inline-list > li > a {
    font-size: em-calc(19);
    color: $blue-chill;
  }

  .button-group {
    margin: 0.5rem 0 0;
  }
  // fix for button group item spacing
  .button-group.radius li {
    margin: 0 -3px;
  }
  .button {
    padding: 1em 1.25em;
    margin: 0;
  }

  text-align: left;
  padding: em-calc(25) em-calc(15) em-calc(30);
  margin: 0;

  .title,
  .content,
  .link {
    font-family: $heading-font;
    padding: 0;
    margin: 0 0 em-calc(10) 0;
  }

  .title {
    font-size: em-calc(27);
    font-weight: bold; /* Fallback */
    font-weight: 500;
    line-height: 1em;
    color: $gray-20;
  }

  .content {
    font-size: em-calc(16);
    color: $white;
  }

  .link {
    font-weight: 500;
    font-size: em-calc(16);
    text-transform: uppercase;
    color: $blue-chill-70;
  }


  @include bp (medium-down) {
    background-color: lighten($ecru, 15%);
  }

  @include bp (large-up) {

    background-color: rgba(16, 16, 16, 0.9);
    padding: em-calc(20) em-calc(25) em-calc(25);
    width: em-calc(720);

  }

  @include bp (xlarge-up) {

    padding: em-calc(25) em-calc(30) em-calc(30);
    width: em-calc(720);

    .title {
      font-size: em-calc(29);
    }

    .content,
    .link {
      font-size: em-calc(18);
    }

  }



}
