.masthead-willamette-svg {
	padding: 0 0.675em;
	width: 100%;
	position: absolute;
	left: 0%;
	top: 15%;
	
	svg {
		padding: 5px; // Prevents cuttoff of drop shadow
		width: 100%;
		min-height: 99px; // Height of SVG (89px) plus 10px for padding
		opacity: 0.9;
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";
		filter: url(#drop-shadow);
		-webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));

		path {
			fill: $willamette-svg-primary;

			&.w-ll-ette, &.i-am {
				display: none; // Fades in via JS
			}

			&.i-am {
				fill: $willamette-svg-secondary;
			}

		}

		@include bp(xlarge-up) {
			width: 1000px;
		}

	}

	@include bp(wildcard-up, 24em) {
		top: 22.5%;
	}

	@include bp(wildcard-up, 36em) {
		top: 30%;
	}

	@include bp(medium-up) {
		top: 25%;
	}

	@include bp(large-up) {
		top: 32.5%;
	}

	@include bp(xlarge-up) {
		padding: 0;
		top: 37.5%;
	}

}