.masthead-story-tile-left-caption {
	background-color: $gray-85;
	font-family: $heading-font;
	font-weight: bold; /* Fallback */
	font-weight: 500;
	text-transform: uppercase;

	p {
		color: $gray-20;
		line-height: 1.5;
		letter-spacing: 1px;
		@include em_fontsize(15px);

		&:before {
			display: block;
			margin: 0 auto 8px;
			padding: 6px;
			width: 26px;
			height: 26px;
			content: $fa-var-long-arrow-right;
			font-size: 14px;
			background-color: $dark-tan;
			color: $white;
			vertical-align: middle;
			@include border-radius(26px);
			@extend .fa;

			@include bp(large-up) {
				padding: 7px;
				width: 40px;
				height: 40px;
				font-size: 24px;
				@include border-radius(40px);
			}

		}

		@include bp(medium-up) {
			@include em_fontsize(18px);
		}

		@include bp(large-up) {
			@include em_fontsize(22px);
		}

	}

}