.search-bar-news {

	&.search-bar {

		label {
			@include bp(medium-up) {
				margin: 0 em-calc(10);
			}
		}

		input {

			@include bp(medium-up) {
				width: 16em;
			}

			@include bp(large-up) {
				width: 22em;
			}

			@include bp(xlarge-up) {
				width: 24em;
			}

		}

		select {

			@include bp(medium-up) {
				width: 11em;
			}

			@include bp(large-up) {
				width: 18em;
			}

		}

	}

}