.ac-opaque {

  .panel {
    background-color:rgba(255, 255, 255, 0.5) !important;
  }
  .collection-header {
    background-color: #791716 !important;

    h5 {
      color: #fff;
    }
  }
  .collection {
    background-color: transparent;
  }
  .collection-item {
    &.lowercase {
      text-transform: lowercase;
    }
    a {
      margin-right: 6px;

    }
  }

}
