.ac-opaque {

  .panel {
    background-color:rgba(255, 255, 255, 0.5) !important;
  }
  .collection-header {
    background-color: #c0ac7e !important;

    h5 {
      color: #fff;
    }
  }
  .collection {
    background-color: transparent;
    border: 0 !important;
    margin-bottom: 40px;
  }
  .collection-item {
    &.lowercase {
      text-transform: lowercase;
    }
    a {
      margin-right: 6px;

    }
  }

  .left-nav {
    &.home {
      padding: 0.75rem 0 !important;
    }

  }
  .stack-label {
    display: inline-block;
    font-size: 0.84rem;
    margin-right: 25px;
  }

}
