.accordion {

	.accordion-navigation {
		margin: 0.75em 0;
		&.active, .no-js & {
			.accordion-header {
				background-color: $maroon;
			}
			.trigger > a {
				text-decoration: none;
				&:before {
					content: $fa-var-minus-circle;
					color: $auburn;
				}
			}
			.content {
				display: block !important;
			}
		}
		.accordion-header {
			background-color: $ecru;
		}
		.trigger, .learn-more {
			> a {
				// height: 40px;
				color: $white;
				font-family: $heading-font;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: bold; /* Fallback */
				font-weight: 500;
			}
		}
		.trigger {
			position: relative;
			> a {
				display: block;
				padding: 0.375em 1em 0.375em 2.75em;
				text-indent: -1.75em;
				line-height: 1;
				@include em_fontsize(18px);
				&:hover,
				&:focus,
				&:before {
					text-decoration: none;
				}
				&:hover {
					.no-touch & {
						background-color: $maroon;
						&:before {
							color: $auburn;
						}
					}
				}
				&:before {
					display: inline;
					width: 1em;
					margin: 0 0.25em 0 0;
					vertical-align: middle;
					content: $fa-var-plus-circle;
					color: $ecru-25;
					@include em_fontsize(24px);
					@extend .fa;
				}
			}
		}
		.learn-more {
			position: absolute;
			top: 0;
			right: 0;
			> a {
				display: none;
				padding: 0.375em 0.75em;
				vertical-align: middle;
				background-color: $blue-chill-80;
				@include bp(medium-up) {
					display: table-cell;
				}
			}
		}
		.content {
			padding: 1.5em 0;
			.no-js {
				display: block;
			}
			.program-image {
				margin: 0 0 1.5em;
				@include bp(medium-up) {
					float: left;
					margin: 0 1.5em 1.5em 0;
				}
			}
			.degrees, .college {
				display: block;
			}
			.degrees {
				ul {
					padding: 0;
					display: inline;
					line-height: 1.25;
				}
				li {
					display: inline;
					padding: 0;
					text-indent: 0 !important;
					font-weight: bold; /* Fallback */
					font-weight: 700;
					&:last-child:after {
						content: '';
					}
					&:before {
						display: none;
					}
					&:after {
						content: ',';
					}
				}
			}
			.college {
				margin: 0.5em 0;
				font-weight: bold; /* Fallback */
				font-weight: 700;
				color: $link-color;
			}
		}
	}
  /* Looks like someone at put a max-width 520px on the timeline div, inside the iframe.
     We should not be able to override styles inside the iframe.  Attempt below seem to verify that.
     */
  #twitter-widget-0,
  .twitter-timeline,
  .timeline {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  #twitter-widget-0 html
  .timeline {
    max-width: 100% !important;
    width: 100% !important;
  }

  #tweets  iframe#twitter-widget-0 div.twitter-timeline.twitter-timeline-rendered {
    width: 100% !important;
	max-width: 100% !important;
	min-width: 100% !important;
  }
}