.accordion-majors-programs {
	
	.program-link {
		display: block;
		margin: 0 0 em-calc(5);
		font-family: $heading-font;
		font-weight: bold; /* Fallback */
		font-weight: 500;
		line-height: 1;
		color: $body-font-color;
		@include em_fontsize(33px);

		&:after {
			@extend .fa;
			font-size: 0.75em;
			width: 1em;
			color: $blue-chill-70;
			content: $fa-var-chevron-circle-right;
			vertical-align: middle;
			display: inline-block;
			@include em_margin(-2px, 0px, 0px, 5px);
			@include transition-property(all);
			@include transition-duration(0.25s);
		}

		&:hover {
			text-decoration: none;

			&:after {
				margin-left: 0.175em;
			}

		}

	}

}