.breadcrumbs {
	display: none;
	margin: 0 0 1.5em;
	list-style: none !important;
	.home {
		display: inline-block;
		background-color: $dark-tan;
		vertical-align: middle;
		position: relative;
		top: -1px;
		@include em_width(22px);
		@include em_height(22px);
		@include border-radius(22px);
		@include em_margin(0px, 5px, 0px, 0px);
		@include em_padding(1px, 5px);
		.fa {
			color: $white;
			font-size: 16px;
		}
	}
	li {
		display: inline-block;
		&:last-child {
			&:after {
				display: none;
			}
			a {
				color: $maroon;
			}
		}
		&:after {
			display: inline-block;
			color: $maroon;
			content: $fa-var-chevron-right;
			font-size: 0.625em;
			// vertical-align: middle;
			@include em_margin(0px, 3px, 0px, 5px);
			@extend .fa;
		}
	}
	a {
		color: $dark-tan;
		font-family: $heading-font;
		font-weight: bold; /* Fallback */
		font-weight: 500;
		vertical-align: middle;
		@include em_fontsize(18px);
	}
	@include bp(medium-up) {
		display: block;
	}
}