.callout {

	background-color: $ecru-25;
	margin: 1.5em 0 0;

	.main-column .large-4 & { // When in column of 3 or 4 Column template
		&:first-child {
			@include bp(large-up) {
				margin: 0;
			}
		}
	}

	.sidebar & {
		margin: 1.25em 0 0;
	}

	&.no-image .callout-content {
		width: 100%;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 5px;
		@include em_fontsize(23px);
	}
	p {
		font-size: 1em;
		margin: 0.75em 0;
		line-height: 1.4;
	}
	ul, ol {

	}
	img {
		width: 100%;
	}

	button, .button {
		width: 100%;
	}
	form {
		button, .button {
			width: auto;
		}
	}

	.callout-label {
		color: $dark-tan;
		display: block;
		font-family: $heading-font;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold; /* Fallback */
		font-weight: 500;
		@include em_margin(4px, 0px);
	}

	.callout-content {
		padding: 1.25em;

		> a {
			display: block;
			font-family: $heading-font;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: bold; /* Fallback */
			font-weight: 500;
			@include em_margin(8px, 0px);
			&.button {
				@include bp(large-up) {
					display: inline-block;
				}
			}
		}

		.title {
			font-size: 16px;
		}

	}

	.callout-image {
		width: 100%;
		@include transition-property(all);
		&.bottom {
			position: relative;
		}
	}

	.social-media-icons {
		text-align: left;
		ul {
			margin: 0.5em 0;
			padding: 0;
		}
		li {
			text-indent: 0 !important;
			padding: 0;
			@include em_margin(0px, 1px, 5px, 0px);
			&:before {
				display: none;
			}
		}
		a {
			width: 38px;
			height: 38px;
			padding: 0.35em 0.325em;
			background-color: $blue-chill-80;
			@include em_fontsize(20px);
			@include border-radius(38px);
			&:hover {
				background-color: $blue-chill;
			}
		}
	}

}