.header {

	background: $black;
	text-align: center;
	border-top: em-calc(7) solid $maroon;
	padding: em-calc(13) em-calc(25) em-calc(15) em-calc(20);
	margin: 0;
	z-index: 2;

	.alert-active & {
		border-top: none;
	}

	form {
		max-width: em-calc(270);
		position: absolute;
		top: 40px;
		right: 0;
	}

	.logo {
		width: auto;
		height: em-calc(36);
		margin: em-calc(7) 0;
		position: absolute;
		top: 0;
		left: 0;

		@include bp(medium-up) {
			height: em-calc(52);
			margin: em-calc(5) 0;
		}

		@include bp(xlarge-up) {
			height: em-calc(62);
			margin: em-calc(2) 0;
		}

	}

	.row {
		position: relative;
	}

	.off-canvas-toggle {
		font-family: $heading-font;
		font-size: em-calc(12);
		text-transform: uppercase;
		color: $white;
		text-align: center;
		margin-top: em-calc(4);
		float: right;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
		.fa {
			font-size: em-calc(31);
			color: $ecru;
			display: block;
		}
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	.main-nav-large {
		display: none;

		@include bp(large-up) {
			top: em-calc(90);
		}

		@include bp(xlarge-up) {
			top: em-calc(95);
		}

	}

	.secondary-nav-large {
		text-align: right;
		display: none;
	}

	.global-search {
		display: none;
	}

	@include layer(top);

	@include bp(medium-up) {
		padding: em-calc(10) em-calc(25);
		background-color: rgba(0, 0, 0, 0.7);
		height: em-calc(150);

		width: 100%;
		position: absolute;

		.off-canvas-toggle {
			display: none;
		}

		.main-nav-large {
			position: absolute;
			top: em-calc(95);
			left: 0;
			display: block;
		}

		.secondary-nav-large {
			position: absolute;
			top: em-calc(5);
			right: 0;
			display: block;
		}

		.global-search {
			display: block;
		}

	}

	@include bp(large-up) {
		padding: em-calc(14) em-calc(25);
		height: em-calc(165);
	}

}