.home-poi {

	.watermark {
		width: 132px;
		height: 132px;
		position: absolute;
		top: 1.5em;
		right: 7%;

		@include bp(large-up) {
			width: 100%;
			height: auto;
			position: static;
			top: 0;
			right: 0;
		}

	}

	.title, .headline, .text, .see-all {
		display: block;
	}

	.title {
		font-family: $heading-font;
		font-weight: bold; /* Fallback */
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.headline {
		font-family: $serif-font;
		font-style: italic;
		font-weight: normal; /* Fallback */
		font-weight: 400;
		line-height: 1.125;
	}

	.see-all {
		font-family: $heading-font;
		font-weight: bold; /* Fallback */
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $blue-chill;
		@include em_fontsize(18px);
	}

	.mobile {

		.thumbnails {
			
			li {
				display: block;
				float: left;
				width: 25%;
			}

		}

		@include bp(large-up) {
			display: none;
		}

	}

	.desktop {
		display: none;
		background-color: $gray-85;

		@include bp(large-up) {
			display: block;
		}

	}

}