.left-nav {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.75em 1.5em;
	ul {
		margin: 0;
	}
	li {
		border-bottom: 1px solid $gray-20;
		&:last-child {
			border-bottom: none;
		}
		&.active {
			> a {
				background-color: $maroon;
				color: $white;
				text-decoration: none;
				&:hover {
					color: $white;
				}
			}
			> ul {
				display: block;
			}
		}
		&.parent {
			@include em_fontsize(25px);
			a {
				text-transform: uppercase;
				padding: 10px 15px 10px 8px;
			}
		}
		&.child {
			@include em_fontsize(22px);
		}
		&.grandchild {
			@include em_fontsize(20px);
			a {
				text-indent: -7px;
				padding: 10px 15px 10px 25px;
				&:before {
					display: inline-block;
					color: $blue-chill;
					content: $fa-var-chevron-right;
					font-size: 0.625em;
					vertical-align: middle;
					position: relative;
					top: -1px;
					@include em_margin(0px, 5px, 0px, 0px);
					@extend .fa;
					.safari & {
		                margin: 0;
		            }
				}
				.safari & {
	                text-indent: -10px;
	            }
			}
		}
		> ul {
			display: none;
		}
	}
	a {
		display: block;
		padding: 10px 15px;
		color: $dark-tan;
		font-family: $heading-font;
		font-size: inherit;
		font-weight: bold; /* Fallback */
		font-weight: 500;
		&:hover {
			color: $maroon;
			text-decoration: none;
		}
	}
}