.library-left-nav {

  padding-top: 40px;

  .library-chat {

    width: 90%;
    font-size: 1.05rem;
    border: 1px solid $ecru-25;
    background-color: rgba(241, 239, 233, 0.5);
    padding: 20px 45px;
    margin-bottom: 20px;

    color: $gray-75;
    .fa {
      color: $blue-chill-50;
      font-size: 2.6rem;
    }

  }

  .library-chat:hover {
    background: $white;
    color: $gray-60;
    .fa {
      color: $blue-chill-80;
    }
  }

  .row {
    margin-left: auto !important;
  }

  .library-help-callout {

    text-align: center;
    width: 90%;
    font-size: 1.05rem;
    border: 1px solid $ecru-25;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 40px;
    padding-bottom: 20px;
    margin-top: 20px;

    h2 {
      margin: 0 0 5px;
      font-size: 1.4375em;
    }

  }




}