.library-wide-page {
  .sub-nav {
    overflow: visible;
    margin-bottom: 40px;

  }
  .sub-nav dt a, .sub-nav dd a, .sub-nav li a {
    color: #666;
  }
  .sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
    color: #fff;
  }
}