.main-nav-small {

	a:link,
	a:visited {
		font-family: $heading-font;
		font-size: em-calc(24);
		font-weight: 500;
		color: $ecru;
	}

	a:hover,
	a:active {
		text-decoration: none;
		color: $gray-20;
	}

	li {
		line-height: 2.75em;
	}

}