.masthead {

  background-color: $gray-85;
  text-align: center;
  position: relative;

  @include layer(bottom);

  img {
    max-width: em-calc($homepage-max-width);
    width: 100%;
    margin: 0;
    padding: 0;
  }


  @include bp(medium-up) {
    @include em_minheight(150px); // To clear header
  }

  @include bp(large-up) {
    @include em_minheight(165px); // To clear header
  }

  // for foundation interchage - ms
  .interchange-masthead {
    @include bp(large-up) {
      min-height: em-calc(421);
    }
  }

  .library-content-box-container {

    .row, .columns {

      @include bp(medium-up) {
       width: 100%;
        height: 100%;
      }

    }

    @include bp(large-up) {
      width: 100%;
      // em-calc wasn't working with the math - SH
      height: -webkit-calc(100% - 165px);
      height: -moz-calc(100% - 165px);
      height: calc(100% - 165px);
      position: absolute;
      top: 165px; // To clear header
    }

  }

  .library-content-box {

    &.top-left {
      @include bp(large-up) {
        left: em-calc(25);
        top: 16%;
      }
      @include bp(xlarge-up) {
        left: 0;
      }
    }

    &.top-right {
      @include bp(large-up) {
        right: em-calc(25);
        top: 5%;
      }
      @include bp(xlarge-up) {
        right: 0;
      }
    }

    &.bottom-left {
      @include bp(large-up) {
        left: em-calc(25);
        bottom: 36.5%;
      }
      @include bp(xlarge-up) {
        left: 0;
      }
    }

    &.bottom-right {
      @include bp(large-up) {
        right: em-calc(25);
        bottom: 12.5%;
      }
      @include bp(xlarge-up) {
        right: 0;
      }
    }

    @include bp(large-up) {
      position: absolute;
    }

  }


  .library-secondary-content-box {

    a, a:visited {
      color: $blue-chill;
    }

    &.top-left {
      @include bp(large-up) {
        left: em-calc(25);
        top: 8.2%;
      }
      @include bp(xlarge-up) {
        left: 0;
      }
    }

    &.top-right {

      @include bp(large-up) {
        right: em-calc(25);
        top: 25%;
      }
      @include bp(xlarge-up) {
        right: 100px;
      }
    }

    &.bottom-left {
      @include bp(large-up) {
        left: em-calc(25);
        bottom: 56.5%;
      }
      @include bp(xlarge-up) {
        left: 0;
      }
    }

    &.bottom-right {
      @include bp(large-up) {
        right: em-calc(25);
        bottom: 12.5%;
      }
      @include bp(xlarge-up) {
        right: 0;
      }
    }


    @include bp(large-up) {
      position: absolute;
    }
  }


  .library-secondary-nav {
    @include bp(medium-up) {

      padding: 0;
      background-color: rgba(0, 0, 0, 0.6);
      height: em-calc(43);

      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;

      .off-canvas-toggle {
        display: none;
      }
      .button {
        padding: 12px 18px;
      }
      .button.active {
        @include button-style($maroon, false, false, null, null);
      }
      .button.inactive {
        @include button-style($ecru, false, false, null, null);
      }

    }

    @include bp(medium-only) {
      bottom: -43px;
    }

    @include bp(large-up) {
      padding: 0;
      height: em-calc(43);
    }

    .button {
      margin: 0 0.28rem 0 0;
    }

  }


}
