.secondary-nav-large {

	width: 50%;

	.no-js & {
		width: 62%;
	}

	a:link,
	a:visited {
		font-family: $heading-font;
		font-size: em-calc(14);
		font-weight: bold; /* Fallback */
		font-weight: 500;
		text-transform: uppercase;
		color: $white;
		.no-js & {
			font-size: em-calc(13);
		}
	}

	a:hover,
	a:active {
		text-decoration: none;
		color: $ecru;
	}

	li {
		padding-left: 2%;
		display: inline-block;
		&:first-child {
			padding-left: 0;
		}
		.no-js & {
			padding-left: 1.5%;
		}
	}

	@include bp (large-up) {

		li {
			padding-left: 3%;
		}

	}

}