.tag-box {
  a {

    &.button {
      background-color: #7C7668;
      text-transform: capitalize;
      font-size: 0.8875rem;
      transition: background-color 300ms ease-out;
      padding-top: 0.425rem;
      padding-bottom: 0.4875rem;
    }
    &.button:hover {
      background-color: #A39B8A;
    }
    i {
      margin-left: 15px;
    }

  }
}
