/*-------------------------------------------------------
 * font-awesome customizations
 *-------------------------------------------------------*/
.fa-home {
    color: #27827C;
}
.fa-search {
    font-size: 1.2em;
    color: rgba(209, 241, 252, 0.83);
    padding-top: 10px;
}
a .fa-external-link  {
    color: #666;
}
.fa-caret-down {
    color: #666;
}
.fa-university {
    color: #CED8D7;
}
.fa-circle-thin {
    color: #83A3B8;
}
.fa-file-text {
    color: #579A9C;
}
.fa-plus-square-o {
    color: #CFA475;
}
.fa-exclamation-circle {
    color: #726451;
}