<p></p>

<div class="row">
    <div class="large-12 columns" ng-controller="FilterCtrl">
        <dl class="sub-nav" >
            <dt>Filter:</dt>
            <dd ng:class="{'active' : selected=='{{selected}}' }"><a href="#/collections/2">Archives</a></dd>
            <dd ng:class="{'active' : selected=='{{selected}}' }"><a href="#/collections/7">Museum</a></dd>
            <dd ng:class="{'active' : selected=='{{selected}}' }"><a href="#/community-simple">Departments</a></dd>

        </dl>

    </div>
</div>

<div class="row" ng-controller="DspaceCollectionsCtrl" >
    <form>
        <fieldset>
            <legend>Search Archives Collections</legend>
            <div class="small-7 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <i class="fi-magnifying-glass"></i>
                        <input type="text" placeholder="Enter search terms">
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix">Go</a>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <div class="small-12 columns">
        <h3>Departmental Collections</h3>
    </div>
    <div class="small-12 columns collection" ng-repeat='collection in dspaceCollections' >
        <div >
            <h6><a href="http://libmedia.willamette.edu/xmlui/handle/{{collection.handle}}">{{collection.name}}</a></h6>


        </div>
    </div>
</div>