

<div class="row  show-for-small-up" style="margin-bottom: 20px;">
    <div class="small-8 columns">
        <ul class="breadcrumbs">
            <li><i class="fa fa-home"></i> <a href="/commons/home">Academic Commons</a></li>
            <li><a href="/commons/hfma" class="current">Museum Collections</a></li>
        </ul>
    </div>
    <div class="small-12 medium-4 large-4 columns text-right" >
        <a href="/commons/home"><img src="/images/academiccommons_lg.png"></a>
    </div>
</div>
<div class="row">
    <div class="small-12 column">
        <h2>Hallie Ford Museum of Art Digital Collections</h2>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="large-6 medium-6 small-12 columns">

        <h5 class="subheader justify">Access to selected work from the permanent collection of the <a href="http://www.willamette.edu/arts/hfma/index.html" target="_self">Hallie Ford Museum of Art</a>.</h5>

        <div class="sm-padding-panel" style="margin-top: 20px;">
            <h4>The Permanent Collection</h4>
        <p class="justify">The Hallie Ford Museum of Art&rsquo;s permanent collection is comprised of over 6,000 culturally and historically diverse artworks. It is a learning resource for the region and supports the teaching curriculum of Willamette University.</p>
        <p class="justify">The collection contains works from the ancient Mediterranean and Egypt, paintings and decorative arts from Asia, paintings and prints from 18th- and 19th-century Europe and America, with a particular focus on historic and contemporary regional artwork from the Northwest and traditional Native American baskets.</p>
       <p class="justify">Visit the <a href="http://www.willamette.edu/arts/hfma/index.html" target="_self">Hallie Ford Museum of Art</a> for more about the museum, its collections, and its programs.</p>
        </div>
        <p class="justify">The Hallie for Museum of Art uses the Academic Commons to publish images from its permanent collection. Willamette University faculty, staff and students can <span class="label success round" style="margin-bottom: 0;">download</span> museum images from the Willamette <a href="http://libmedia.willamette.edu/cview/images.html#!search:back:art,hfmanw,theatre/all%5Ehallie+ford%5Eall%5Eand!" target="_self">Art & Costume Images Collection</a>. </p>

    </div>
    <div class="large-1 medium-1 columns"></div>
    <div class="large-5 medium-5 small-12 column panel" style="margin-top: 10px;" ng-controller="SearchFormCtrl">
        <form>
            <h4>Quick Search</h4>
            <div class="row collapse">
                <div class="large-10  medium-10 small-10 columns">
                    <input type="hidden" ng-init="query.area='hfma'"/>
                    <input type="hidden" ng-init="query.alias='hfmanw,hfmoaevents'"/>
                    <input type="text" ng-model="query.terms" placeholder="Search museum collections" ng-keyup="$event.keyCode == 13 && submit(query)"/>
                </div>
                <div class="large-2 medium-2 small-2  columns">
                    <a href="#" ng-click="submit(query)" class="postfix button  radius"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </form>
        <h5>Browse selected works from:</h5>
        <ul class="vertical-list">
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^American+Art+Collection^exact!" target="_self">American Collection</a></li>
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Asian+Art+Collection^exact!" target="_self">Asian Collection</a></li>
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Native+American+Collection^exact!" target="_self">Native American Collection</a></li>
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Ancient+Art+Collection^exact!" target="_self">Ancient Collection</a></li>
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^European+Art+Collection^exact!" target="_self">European Collection</a></li>
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Northwest+Art+Collection^exact!" target="_self">Northwest Collection</a></li>
            <li><a href="http://libmedia.willamette.edu/cview/hfma.html#!search:search:hfmanw/collec^Crow%27s%20Shadow%20Institute^exact!" target="_self">Crow Shadow Institute</a></li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top: 10px;" >
    <div class="large-6 medium-6 small-12 columns">

    </div>
    <div class="large-6 medium-6 small-12  columns">

    </div>
</div>
<div class="row">

    <div class="large-12 medium-12 small-12 columns">


    <div class="large-5 medium-6  columns">
    </div>
</div>

