extends layout
mixin areaLink(area)
  .small-10.columns
    a(href='/admin/form/area/update/' + area.id)=area.title
  .small-1.columns
    label ID:&nbsp;
      =area.id
block content
  .row
    a.button.small.radius.right.success(href="#" data-reveal-id="createModal") Create Area
    h1= title
    p Click on title link to edit the area.
      if exists
        .label.alert An area with this name already exists
    each area in areas
      .row.result-row: +areaLink(area)
  #createModal.reveal-modal.small(data-reveal)
    h3 Create Area
    form(method="post", enctype='application/x-www-form-urlencoded' action="/admin/area/create")
      .row
        .large-10.columns
          label Area Title
      .row
        .large-10.columns
          input(type="text", size=60 name="title")
      .row
        .large-10.columns
          label Area URL
      .row
        .large-10.columns
          input(type="text", size=60 name="url")
      .row
        .large-10.columns
          label Secondary URL
      .row
        .large-10.columns
          input(type="text", size=60 name="secondaryUrl")
      .row
        .large-10.columns
          label Category Description
      .row
        .large-10.columns
          textarea(rows=7, class="small-12 columns", name="description")
      p
      .row
        .large-10.columns
          input(type='submit', value='Create Area')
    a(class="close-reveal-modal") &#215;
    a(class="close-reveal-modal") &#215;
  script $(document).foundation();
