extends layout
block content
  md-content(layout="row", layout-align="start start", flex, ng-controller="AreaCtrl")
    md-content(layout="column" flex="75")
      md-card.flex(flex, style="height: 990px;")
        div(ng-if="area.$resolved")
        md-toolbar.md_primary
          .md-toolbar-tools
            span(flex="20")
              i.material-icons(style="color: #80CBC4;") flag
              span.md-subhead Areas
            h2.md-display-2 {{area.title}}
            span(flex)
            md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Area" ng-click="showDialog($event, deleteMessage)") <i class="material-icons">delete</i>
        md-card-content
          div(layout="row", layout-align="start start")
            div(flex="20" )
              md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="showDialog($event, addMessage)") Add New Area
              div(layout="column", style="height:770px;")
                md-content(flex)
                  md-list
                    div(ng-repeat="area in areas")
                      md-list-item
                        md-button(class="md-no-style md-button  md-default-theme", style="min-height: 47px;" ng-click="resetArea(area.id);")
                          div(class="list-group-item-text md-subhead layout-fill") {{area.title}}
                            div.md-ripple-container
                    md-divider
            md-content(layout-padding flex="80" style="padding-left: 20px;")
              div(flex)
                md-button(class="md-raised md-accent" style="float:right;" ng-click="updateArea()") Update Area
                h3(class="md-title" style="margin-top: 10px;") Edit Area
              md-input-container
                label Area Name
                input(type="text", ng-model="area.title")
              md-input-container
                label Description  &nbsp;
                  span(class="md-subhead md-default") maxuimum characters 450 (current {{category.description.length}})
                textarea(type="textarea", ng-trim="false", ng-model="area.description", maxlength="450")
              md-input-container
                label Button Label
                input(type="text", ng-model="area.linkLabel")
              md-input-container
                label URL
                input(type="text", ng-model="area.url")
              md-input-container
                label Search URL
                input(type="text", ng-model="area.searchUrl")
    md-content(layout="column" flex="25")
