extends layout

block content

  md-content(layout="row", layout-align="start start", flex, ng-controller="CategoryCtrl")
    md-content(layout="column" flex="75")
      md-card.flex(flex, style="height: 990px;")
        div(ng-if="category.$resolved")
        md-toolbar.md_primary
          .md-toolbar-tools
            span(flex="20")
              i.material-icons(style="color: #80CBC4;") flag
              span.md-subhead Categories
            h2.md-display-2 {{category.title}}
            span(flex)
            md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Category" ng-click="showDialog($event, deleteMessage)") <i class="material-icons">delete</i>
         md-card-content
          div(layout="row", layout-align="start start")
            div(flex="20" )
              md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="showDialog($event, addMessage)") Add New Category
              div(layout="column", style="height:770px;")
                md-content(flex)
                  md-list
                    div(ng-repeat="cat in categories")
                      md-list-item
                        md-button(class="md-no-style md-button  md-default-theme", style="min-height: 47px;" ng-click="getCategory(cat.id);")
                          div(class="list-group-item-text md-subhead layout-fill") {{cat.title}}
                            div.md-ripple-container
                  md-divider
            md-content(layout-padding flex="80" style="padding-left: 20px;")
              div(flex)
                md-button(class="md-raised md-accent" style="float:right;" ng-click="updateCategory()") Update Category
                h3(class="md-title" style="margin-top: 10px;") Edit Collection
              md-input-container
                label Collection Name
                input(type="text", ng-model="category.title")
              md-input-container
                label Description  &nbsp;
                  span(class="md-subhead md-default") maxuimum characters 450 (current {{category.description.length}})
                textarea(type="textarea", ng-trim="false", ng-model="category.description", maxlength="450")
              md-input-container
                label Button Label
                input(type="text", ng-model="category.linkLabel")
              md-input-container
                label URL
                input(type="text", ng-model="category.url")
              md-input-container
                label Area
                md-select(ng-model="category.areaId" placeholder="Select an Area")
                  md-option(ng-repeat="area in areas" ng-value="area.id" ng-selected="area.id") {{area.title}}

    md-content(layout="column" flex="25")

