extends layout

block content

  md-content(layout="row", layout-align="start start", flex, ng-controller="CollectionCtrl")
    md-content(layout="column" flex="75")
      md-card.flex(flex, style="height: 990px;")
        div(ng-if="collectionList.$resolved")

        md-toolbar.md_primary
          .md-toolbar-tools
            span(flex="20")
              i.material-icons(style="color: #80CBC4;") collections
              span.md-subhead COLLECTIONS
            h3.md-display-1 {{collection.collection.title}}
            span(flex)
            md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Collection" ng-click="showDialog($event, deleteMessage)") <i class="material-icons">delete</i>

        md-card-content
          div(layout="row", layout-align="start start")
            div(flex="20" )
              md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="showDialog($event, addMessage)") Add Collection
              div(layout="column", style="height:770px;")
                md-content(flex)
                  md-list

                  div(ng-repeat="col in collectionList")
                    md-list-item

                      md-button(class="md-no-style md-button  md-default-theme", ng-class="{'md-primary': tag.id==Data.currentTagIndex}" style="min-height: 47px;" ng-click="getCollectionById(col.id);")
                        div(class="list-group-item-text md-subhead layout-fill") {{col.collection.title}}
                          div.md-ripple-container
                    md-divider



            md-content(layout-padding flex="80" style="padding-left: 20px;")
              div(flex)
                md-button(class="md-raised md-accent" style="float:right;" ng-click="updateCollection()") Update This Collection
                h3(class="md-title" style="margin-top: 10px;") Edit Collection

              md-input-container
                label Collection Name
                input(type="text", ng-model="collection.title")
              md-input-container
                label Description  &nbsp;
                  span(class="md-subhead md-default") maxuimum characters 450 (current {{testData.description.length}})
                textarea(type="textarea", ng-trim="false", ng-model="collection.description", maxlength="450")
              md-input-container
                label Collection Category
                md-select(ng-model="testData.category" placeholder="Select a Category")
                  md-option(value="Political Papers") Political Papers
                  md-option(value="Personal Collections") Personal Collections
                  md-option(value="University Archives") University Archives
                  md-option(value="Exhibits") Exhibits
              md-input-container
                label Coverage Dates
                input(type="text", ng-model="collection.dates")
              md-input-container
                label Item Count
                input(type="text", ng-model="collection.items")
              md-input-container
                label URL
                input(type="text", ng-model="collection.url")

              div(style="margin-bottom: 5px;")
                div.md-caption Item Type
                md-radio-group(layout="row" ng-model="collection.ctype")
                  div(flex="25")
                    md-radio-button(aria-label="Unrestricted" value="dig" style="display: inline") Collection
                  div(flex="25")
                    md-radio-button(aria-label="Restricted" value="itm" style="display: inline") Item
                  div(flex="25")
                    md-radio-button(aria-label="Restricted" value="aid" style="display: inline") Finding Aid
                  span(flex)
              md-divider
              div(style="margin-top: 10px; margin-bottom: 15px;")
                div.md-caption Access Restriction
                md-radio-group(layout="row" ng-model="collection.restricted")
                  div(flex="25")
                    md-radio-button(aria-label="Unrestricted" value=true flex="15" style="display: inline") Unrestricted
                  div(flex="25")
                    md-radio-button(aria-label="Restricted" value=false flex="15" style="display: inline") Restricted
                    span(flex)
              md-divider
              div(style="margin-top: 10px; margin-bottom: 15px;")
                div.md-caption Link Type
                md-radio-group(layout="row" ng-model="collection.browseType")
                  div(flex="25")
                    md-radio-button(aria-label="Link" value="link" flex="15" style="display: inline") Link
                  div(flex="25")
                    md-radio-button(aria-label="Selection" value="opts" flex="15" style="display: inline") Selection
                  span(flex)
              md-divider
              div(style="margin-top: 10px; margin-bottom: 35px;")
                div.md-caption Search Type
                md-radio-group(layout="row" ng-model="collection.repoType")
                  div(flex="25")
                    md-radio-button(aria-label="Unrestricted" value="DEFAULT" flex="15" style="display: inline") Search & Browse
                  div(flex="25")
                    md-radio-button(aria-label="Restricted" value="BROWSE" flex="15" style="display: inline") Browse Only
                  div(flex="25")
                    md-radio-button(aria-label="Restricted" value="SEARCH" flex="15" style="display: inline") Search Only
                  span(flex)


    md-content(layout="column" flex="25")

      md-card.flex(flex)
        md-toolbar.md_primary
          .md-toolbar-tools
            i(class="material-icons") image
            h3.md-display-1 Image
            div(flex)
              md-button(class="md-accent md-raised md-fab md-mini", ng-click="showDialog($event, updateImageMessage)", style="float: right;")
                i(class="material-icons") file_upload
        md-card-content
          div(layout="row")
            md-card(flex="40" style="margin:0;max-width: 120px")
              img(style="max-width: 120px;" src="http://libmedia.willamette.edu/resources/img/thumb/{{collection.image}}")
            md-card-content
              span.md-caption Recommended image size is 600px wide by 500px high (Thumbnails are created from the original)


      md-card.flex(flex)
        md-toolbar.md_primary
          .md-toolbar-tools
            i.material-icons link
            h3.md-display-1 Tags
            span(flex)
        md-card-content
          div(layout="column")
            md-input-container
              div(layout="column")
                md-container
                  label Add Tag
                  input(type="text")
            md-container
             // md-chips(ng-model="collectionTags")
             //   md-chip-template {{$chip.name}}
              //  md-button.md-chip-remove Close

      md-card.flex(flex)
        md-toolbar.md_primary
          .md-toolbar-tools
            <i class="material-icons">bookmark</i>
            h3.md-display-1 Content Type
            span(flex)
        md-card-content
          div(layout="column")
            md-input-container
              div(layout="column")
                md-container
                  label Add Item Type
                  input(type="text")
            md-container
             // md-chips(ng-model="collectionTypes")
             //   md-chip-template {{$chip.itemContent.name}}
             //   md-button.md-chip-remove Close

      md-card.flex(flex)
        md-toolbar.md_primary
          .md-toolbar-tools
            i.material-icons public
            h3.md-display-1 Area
            span(flex)
        md-card-content
          md-input-container(class="md-no-float" style="display:inline-block")

              md-select(ng-model="areas" placeholder="Select Area")
                md-option(ng-repeat="area in areas" ng-selected="area.id") {{area.title}}



