extends layout
        h2. Create a new collection.
        form(method="post", enctype='application/x-www-form-urlencoded' action="/collection/create")
            p  Collection Name
            input(type="text", size=90 name="name")
            p  Collection URL
            input(type="url", size=90 name="url")
            p  Collection Description
            textarea(rows=7 cols=65 name="description")
            p
            input(type='submit', value='Submit')


