extends layout
block content
  md-content(layout="row", layout-align="start start", flex, ng-controller="AreaCtrl")
    md-content(layout="column" flex="75")
      md-card.flex(flex, style="height: 990px;")
        div(ng-if="content.$resolved")
        md-toolbar.md_primary
          .md-toolbar-tools
            span(flex="20")
              i.material-icons(style="color: #80CBC4;") flag
              span.md-subhead Content Types
            h2.md-display-2 {{content.title}}
            span(flex)
            md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Area" ng-click="showDialog($event, deleteMessage)") <i class="material-icons">delete</i>
        md-card-content
          div(layout="row", layout-align="start start")
            div(flex="20" )
              md-button(class="md-raised md-accent" style="margin-top: 15px;" ng-click="showDialog($event, addMessage)") Add New Content Type
              div(layout="column", style="height:770px;")
                md-content(flex)
                  md-list
                    div(ng-repeat="type in types")
                      md-list-item
                        md-button(class="md-no-style md-button  md-default-theme", style="min-height: 47px;" ng-click="resetArea(area.id);")
                          div(class="list-group-item-text md-subhead layout-fill") {{type.title}}
                            div.md-ripple-container
                    md-divider
            md-content(layout-padding flex="80" style="padding-left: 20px;")
              div(flex)
                md-button(class="md-raised md-accent" style="float:right;" ng-click="updateArea()") Update Content Type
                h3(class="md-title" style="margin-top: 10px;") Edit Content Type
              md-input-container
                label Type Name
                input(type="text", ng-model="type.title")
              md-input-container
                label Type Icon (Material icon name:  e.g. shopping_basket )
                input(type="text", ng-model="type.title")
          div.md-panel Material Icons: https://www.google.com/design/icons/
    md-content(layout="column" flex="25")
