doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/jquery-ui-1.11.2-min.css")
    link(rel="stylesheet", href="../bower_components/angular-material/angular-material.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")


  body(ng-cloak)
    div(layout-fill)&attributes({layout:"column"})
      md-toolbar
        div.md-toolbar-tools
          span Tagger
          span(flex)
          md-list(ng-controller="LayoutCtrl")
            md-list-item(ng-style="{'display':'inline'}")
              span.md-subhead role: Administrator
            md-list-item(ng-style="{'display':'inline'}")
              span.md-subhead area: &nbsp;
                md-input-container(class="md-no-float" style="display:inline-block")
                  md-select(ng-model="areas" placeholder="Select Area")
                    md-option(ng-repeat="area in areas" ng-selected="Data.currentAreaIndex == area.id") {{area.title}}

      div(layout="row" style="max-width: 2000px;")
        if user
          md-sidenav(style="height: 850px" class="md-sidenav-left", flex=10, md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
            md-toolbar(class="md-default-theme")
              md-card(class="local-hue-1 margin-override")
                md-card-content
                  md-list
                    md-list-item.contact-item
                      img.md-avatar(src="#{picture}")
                    md-list-item
                      div.md-subhead #{user}
            md-content
              md-list
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" )
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons home
                      div.list-group-item-text Overview
                        div.md-ripple-container
                md-list-item.md-active
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/collections")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons collections
                      div.list-group-item-text Collections
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons block
                      div.list-group-item-text Restrictions
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/tag" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons link
                      div.list-group-item-text Subject Tags
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/content" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons image
                      div.list-group-item-text Content Types
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/category" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons library_books
                      div.list-group-item-text Collection Groups
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/area" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons public
                      div.list-group-item-text Areas
                        div.md-ripple-container
          block content
        else
          block content


    script(type="text/javascript", src="../bower_components/angular/angular.min.js")
    script(type="text/javascript", src="../bower_components/angular-animate/angular-animate.min.js")
    script(type="text/javascript", src="../bower_components/angular-route/angular-route.js")
    script(type="text/javascript", src="../bower_components/angular-resource/angular-resource.js")
    script(type="text/javascript", src="../bower_components/angular-aria/angular-aria.min.js")
    script(type="text/javascript", src="../bower_components/angular-material/angular-material.min.js")
    script(type="text/javascript", src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js")
    script(type="text/javascript", src="../bower_components/ng-file-upload/ng-file-upload.min.js")
    script(type="text/javascript", src="/javascripts/app/controllers.js")
    script(type="text/javascript", src="/javascripts/app/services.js")
    script(type="text/javascript", src="/javascripts/app/app.js")



