doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.11.2-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vendor/modernizr.js')


  body
    .contain-to-grid.fixed(style="background: #294750;height:60px;padding-top: 10px;")
      nav.top-bar('data-topbar')
        ul.title-area
          li.name: a(href="/")
            img(src="/img/tagger.png")
        section.top-bar-section
        ul.left
          li: a(href="/admin/", class="button radius") Manage Collections
        ul.left
          li: a(href="/admin/tag/view", class="button radius") Manage Tags
        ul.left
          li: a(href="/admin/content/view", class="button radius") Content Types
    p  &nbsp;
    p  &nbsp;
    block content

    script(type='text/javascript', src='/javascripts/vendor/libraries.min.js')
    script(type='text/javascript', src='/javascripts/vendor/foundation.min.js')
    script(type='text/javascript', src='/javascripts/application.js')


