doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/jquery-ui-1.11.2-min.css")
    link(rel="stylesheet", href="../bower_components/angular-material/angular-material.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    base(href="/admin/")

  body(ng-cloak)
    div(layout-fill)&attributes({layout:"column"})
      md-toolbar()
        div.md-toolbar-tools
          span
            h2.md-display-4 Tagger
          span(flex)
          md-list(ng-controller="LayoutCtrl as vm")
            md-list-item(ng-style="{'display':'inline'}")
              span.md-subhead Area: &nbsp;
                md-input-container(class="md-no-float" style="display:inline-block")
                  md-select(ng-model="vm.areas" placeholder="Select Area")
                    md-option(ng-repeat="area in vm.areas" ng-selected="vm.currentId == area.id" ng-click="vm.updateArea(area.id, $index)") {{area.title}}
      div(layout="row" flex class="view-container")
        if user
          md-sidenav(style="height: 850px" class="md-sidenav-left", flex="5", md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
            md-toolbar(class="md-default-theme")
              md-card(class="local-hue-1 margin-override")
                md-card-content
                  md-list
                    md-list-item.contact-item
                      img.md-avatar(src="#{picture}")
                    md-list-item(ng-controller="AuthorizedCtrl as vm")
                      div.md-subhead #{user}
                        .md-caption(elem-ready="vm.getRole(#{areaId})") {{vm.role}}
            md-content
              md-list
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/overview")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons home
                      div.list-group-item-text Overview
                        div.md-ripple-container
                md-list-item.md-active
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/collections")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons collections
                      div.list-group-item-text Collections
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons block
                      div.list-group-item-text Restrictions
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/tags" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons link
                      div.list-group-item-text Subject Tags
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/contentTypes" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons image
                      div.list-group-item-text Content Types
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/categories" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons library_books
                      div.list-group-item-text Collection Groups
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/areas" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons public
                      div.list-group-item-text Areas
                        div.md-ripple-container
                md-list-item
                  md-button(class="md-no-style md-button md-default-theme" href="/admin/partials/users" tabindex="0")
                    div.md-list-item-inner
                      md-icon( aria-hidden="true" style="margin: 10px;")
                        i.material-icons group
                      div.list-group-item-text Users
                        div.md-ripple-container

        div(ng-view flex="80" flex-md="100")




    script(type="text/javascript", src="../bower_components/angular/angular.min.js")
    script(type="text/javascript", src="../bower_components/angular-animate/angular-animate.min.js")
    script(type="text/javascript", src="../bower_components/angular-route/angular-route.js")
    script(type="text/javascript", src="../bower_components/angular-resource/angular-resource.js")
    script(type="text/javascript", src="../bower_components/angular-aria/angular-aria.min.js")
    script(type="text/javascript", src="../bower_components/angular-material/angular-material.js")
    script(type="text/javascript", src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js")
    script(type="text/javascript", src="../bower_components/ng-file-upload/ng-file-upload.min.js")
    script(type="text/javascript", src="../bower_components/d3/d3.js")
    script(type="text/javascript", src="/javascripts/app/controllers.js")
    script(type="text/javascript", src="/javascripts/app/controllers/collections.js")
    script(type="text/javascript", src="/javascripts/app/controllers/authorization.js")
    script(type="text/javascript", src="/javascripts/app/controllers/layout.js")
    script(type="text/javascript", src="/javascripts/app/controllers/overview.js")
    script(type="text/javascript", src="/javascripts/app/controllers/tags.js")
    script(type="text/javascript", src="/javascripts/app/controllers/types.js")
    script(type="text/javascript", src="/javascripts/app/controllers/users.js")
    script(type="text/javascript", src="/javascripts/app/controllers/areas.js")
    script(type="text/javascript", src="/javascripts/app/controllers/categories.js")

    script(type="text/javascript", src="/javascripts/app/services.js")
    script(type="text/javascript", src="/javascripts/app/directives.js")
    script(type="text/javascript", src="/javascripts/app/app.js")



