extends layout

block content

    .row
        .small-10.columns

            h1.left= title
            form(method="post", enctype='application/x-www-form-urlencoded' action="/tag/update")
                .row
                    .large-10.columns
                        label Tag Name
                .row
                    .large-10.columns
                        input(type="text", size=60 name="name")

                p
                .row
                    .large-10.columns
                        input(type='submit', value='Create Tag')
