extends layout

mixin tagLink(tag)
    .small-10.columns
        a(href='/admin/form/tag/update/'+tag.id)=tag.name
    .small-1.columns
        label ID:&nbsp;
            =tag.id
    if tag.type === 'sub'
        .small-1.columns.type-color
            label Type:&nbsp
                =tag.type
    else
        .small-1.columns.id-color
            label Type:&nbsp
                =tag.type

block content
    .row
        a.button.small.radius.right.success(href="#" data-reveal-id="createModal") Create Tag
        h1= title
        p Click on title link to edit the tag.
            if exists
                .label.alert A tag with this name already exists

        each tag in tags
            .row.result-row: +tagLink(tag)


    #createModal.reveal-modal.small(data-reveal)
        h3 Create Tag
        form(method="post", enctype='application/x-www-form-urlencoded' action="/tag/create")
            .row
                .large-10.columns
                    label Tag Name
            .row
                .large-10.columns
                    input(type="text", size=60 name="name")

            .row
                .large-10.columns
                    label Tag URL

            .row
                .large-10.columns
                    input(type="text", size=60 name="url")
            .row
                .large-10.columns
                    input(type="radio", name="type", value="adm" )
                    | <label>Administrative Area &nbsp;&nbsp;</label>
                    input(type="radio", name="type", value="sub")
                    | <label>Subject </label>

            p
            .row
                .large-10.columns
                    input(type='submit', value='Create Tag')
         a(class="close-reveal-modal") &#215;

        a(class="close-reveal-modal") &#215;

    script $(document).foundation();
